%p Hello #{@user.name},

%p Click the button below to disable Two-Factor Authentication:

%p
  %a.btn.btn-primary{ href: @link, style: "padding: 10px 20px; text-decoration: none; color: white; background-color: #ff5555; border-radius: 5px;" } Disable 2FA
