## Environment variables for docker-compose.dev.yml
## Copy this file to .dockerenv and adjust the values
## Do not commit .dockerenv to the repository
## `docker compose --env-file .dockerenv -f docker-compose.dev.yml config`
##  will use the values from this file
## - DOCKER_PG_IMAGE: the image to use as base for the db container
## - DOCKER_DEV_IMAGE: the image to use as base for the app and webpacker containers
##  overwriten to '' when using vs decontainer.json to avoid tag conflicts
## Latest available version: https://hub.docker.com/u/complat/dev/tags
## app image with preinstalled asdf plugins(ruby, nodejs), gems and nodejs packages

#DOCKER_DEV_IMAGE=complat/dev:v1.10.3-153-gcb7331a3b
#DOCKER_DEV_IMAGE=complat/dev:v2.0.1-9-g4aec23261
#DOCKER_PG_IMAGE=postgres:16
#DOCKER_PG_IMAGE=complat/dev:postgres16-rdkit

## - VOLUME_NAME_HOMEDIR: Use another named volume for homedir (asdf, gems, etc)
## - VOLUME_NAME_DB: or database

#VOLUME_NAME_HOMEDIR=chemotion_eln_homedir2
#VOLUME_NAME_DB=chemotion_eln_database2

## ENV for the app container
## - RAKE_DB_MIGRATE: use by prepare sh to run db migration (rake db:migrate)
## when starting the app container {always, once, never}
## always: run db migration on every start
## once: run db migration only once after the db is created
## never: never run db migration on start
RAKE_DB_MIGRATE=once

## ENV for docker-compose.services.yml
SERVICE_REPO=ptrxyz/chemotion
ELN_VERSION=2.0.1

## Images for the services
## `cp docker-compose.services.yml.example docker-compose.services.yml` for the latest version
## `docker compose --env-file .dockerenv -f docker-compose.dev.yml -f docker-composer.services.yml config`
IMG_SPECTRA=${SERVICE_REPO}:spectra-${ELN_VERSION}
IMG_CONVERTER=${SERVICE_REPO}:converter-${ELN_VERSION}
IMG_KETCHERSVC=${SERVICE_REPO}:ketchersvc-${ELN_VERSION}
# IMG_INDIGO=
