SFTP_HOST=sftp-host-production
SFTP_PORT=sftp-port-production
SFTP_UPLOAD_FOLDER=sftp-upload-folder # e.g. uploads
SFTP_USER=sftp-user-production

# Choose between password and ssh-key authentication.
# The default key locations are ~/.ssh/id_rsa,~/.ssh/id_dsa. If you want to use
# other key files you have to specify them like
# SFTP_KEYS=/path1/key1,/path2/key2,...

# SFTP_KEYS=paths-to-private-ssh-keys
# SFTP_PASSWORD=sftp-password-production

MESSAGE_ENABLE=true
MESSAGE_AUTO_INTERNAL=6000
MESSAGE_IDLE_TIME=12

# Allow unconfirmed email: leave blank for always, or set a number of days (integer);
# also set 0 to have email being confirmed before first sign in.
DEVISE_ALLOW_UNCONFIRMED=''

# Disable sign up page: leave blank to allow sign up page. set to 'true' to disable it.
# only amdin can then create user accounts.
DEVISE_DISABLED_SIGN_UP=''

# Any new account to be inactive by default => only admin can (de)activate
DEVISE_NEW_ACCOUNT_INACTIVE=false

# Application's title
APPLICATION_TITLE='Chemotion'
