{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:react/recommended"],
  "rules": {
    "no-console": ["off"],
    "comma-dangle": [1,"only-multiline"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prefer-destructuring": ["error", {"object": true, "array": false}]
  }
}
