language: ruby
cache:
  bundler: true
  directories:
    - node_modules
    - tmp/cache/assets/test/sprockets
rvm:
  - 2.3.1
before_install:
  - nvm install 6.9.1
  - npm install npm -g
  - npm install
before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database travis_ci_test;' -U postgres
addons:
  postgresql: "9.3"
services:
  - postgresql
script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rake
  - npm test
