# This docker-compose file sets up the dev environment.
# It builds an app container based on Dockerfile.chemotion.dev
#
# USAGE:
# - Run development environment:
#     docker-compose -f docker-compose.dev.yml up postgres app webpacker
# - Open a bash shell in the app container:
#     docker exec -it NAME_OF_APP_CONTAINER_FROM_DOCKER_PS /bin/bash
# - Setup the database environment inside the bash shell:
#     bundle exec rake db:setup
# - Run tests:
#     bundle exec rspec
#
version: '3'

services:
  postgres:
    image: 'postgres:14.2-alpine3.15'
    environment:
      - 'POSTGRES_HOST_AUTH_METHOD=trust'
      - 'POSTGRES_USER=chemotion'
      - 'DB_ROLE=chemotion'
      - 'POSTGRES_DB=chemotion'
      - 'POSTGRES_PASSWORD=changeme'
    expose: # expose port to app container
      - '5432'
    ports: # expose port to host machine in case we want to use external db gui tools
      - '5432:5432'
    volumes:
      - 'database:/var/lib/postgresql/data'
  #msconvert_docker:
  #  image: chambm/pwiz-skyline-i-agree-to-the-vendor-licenses
  #  environment:
  #    - 'WINEDEBUG=-all'
  #  volumes:
  #    - '/home/martin/Desktop/dev/KIT/chemotion-spectra/chem-spectra-app/chem_spectra/tmp:/data'
  #  command: bash

networks:
  static-network:
    ipam:
      config:
        - subnet: 172.20.0.0/16
          #docker-compose v3+ do not use ip_range
          ip_range: 172.28.5.0/24
volumes:
  database:
