.comment-modal {
  width: 90vw !important;
}

.table-responsive {
  overflow-x: auto;
}

.modal-body {
  #detailsBtn {
    margin-bottom: 10px;
  }

  .comment-details {
    font-size: 20px;
    cursor: pointer;
    color: #337ab7;
    vertical-align: middle;
    top: 0;
  }

  .btn-toolbar {
    position: relative;

    #editCommentBtn {
      position: absolute;
      left: 90px;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    #deleteCommentBtn{
      position: absolute;
      left: 118px;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .commentList {
    overflow: auto;
    max-height: 60vh;
    min-height: 10vh;

    table {
      table-layout: fixed;

      td {
        word-wrap: break-word;
        white-space: pre-line;
      }
    }
  }
}
