.modal-body {
  .btn-toolbar {
    position: relative;

    #deleteCommentBtn{
      position: absolute;
      left: 90px;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
