<h1>Container Details</h1>
<p>
  <strong>Name:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Parent folder:</strong>
  <%= @container.parentFolder %>
</p>
<%= link_to 'Back', containers_path %>
