/* Define a mixin for @font-face */
@mixin font-face($font-style, $font-weight, $file-name) {
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: $font-style;
    font-weight: $font-weight;
    src: url("#{$file-name}.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

/* Iterate over font weights and styles */
$font-weights: 400, 500, 600, 700;
$font-styles: normal, italic;

@each $weight in $font-weights {
  @each $style in $font-styles {
    $file-name: "roboto-v32-latin-#{$weight}";
    @if $style == italic {
      $file-name: "#{$file-name}italic";
    }
    @include font-face($style, $weight, $file-name);
  }
}

/* Colors */
$chemstrap-paper: #ffffff;
$chemstrap-ink: #3c474d; //text color
$chemstrap-blue: #2495cf; //primary
$chemstrap-blue-light: #18a6ed; //primary-hover
$chemstrap-blue-dark: #015c8e; //primary-active
$chemstrap-blue-dull: #a2cfe7; //draggable-surfaces
$chemstrap-red: #ff5555; //danger
$chemstrap-green: #6dce4d; //success
$chemstrap-yellow: #ffb155; //warning
/* Gray tones */
$chemstrap-silicon: #c4cfd4;
$chemstrap-carbon: #1c1b1e;
$shades: 6;

@function mapShades($value, $shades) {
  $colors: ();

  $step: 100 / $shades;

  @for $i from 1 through $shades - 1 {
    $colors: map-merge(
      $colors,
      (l#{$shades - $i}: mix(white, $value, $step * $i))
    );
  }
  @return $colors;
}

$silicon-shades: mapShades($chemstrap-silicon, $shades);
$carbon-shades: mapShades($chemstrap-carbon, $shades);

/* Text-size styles */
$text---content--title: 24px;
$text---headline--lowered: 18px;
$text---headline: 18px;
$text---body: 16px;
$text---body-italic: 16px;
$text---body--underlined: 16px;
$text---body-medium: 16px;
$text---label: 14px;
$text---label--underlined: 14px;
$text---label-small: 13px;
$icon---extra-large: 96px;
$icon---medium: 24px;
$icon---regular: 20px;
$icon---small: 14px;
$icon---body16: 16px;
$icon---font-awesome6-pro: 16px;

/* Effect styles */
$drop--shadow--large: 4px 0px 55px rgba(0, 0, 0, 0.05);
$drop--shadow--small: 4px 0px 10px rgba(0, 0, 0, 0.07);
$focus: 0px 0px 4px rgba(47, 127, 214, 1);
