.rbc-allday-cell {
  height: 0px !important;
}

.rbc-toolbar {
  padding: 10px 10px 0px 10px;
}

.rbc-timeslot-group {
  min-height: 25px !important;
}

.rbc-time-content {
  cursor: copy;
}

.rbc-agenda-table {
  color: white;
}

.rbc-time-view .rbc-event {
  display: flex;
  flex-direction: column;
}

.rbc-time-view .rbc-event .rbc-event-content {
  order: 1;
}

.rbc-time-view .rbc-event .rbc-event-label {
  order: 2;
  font-size: 0.75em;
  opacity: 0.85;
}
