.rbc-allday-cell {
  height: 0px !important;
}

.rbc-toolbar {
  padding: 10px 10px 0px 10px;
}

.rbc-timeslot-group {
  min-height: 25px !important;
}

.rbc-time-content {
  cursor: copy;
}

.rbc-agenda-table {
  color: white;
}
