// Select
//
// Replaces the default raect-select style with a custom one, mostly pulled
// from https://primer.github.io/.
//
// For detailed documentation on styling react-select see here:
// https://react-select.com/styles#the-unstyled-prop

@mixin hide-svg {
  svg {
    @extend .d-none;
  }
}

@mixin fa-based-remove-icon {
  @include hide-svg;
  @extend .text-secondary;
  @extend .fa;
  @extend .fa-times-circle;
}

.chemotion-select {
  position: relative;
  &.is-invalid {
    .chemotion-select__control,
    .chemotion-select__control:hover {
      border-color: $danger;
    }
  }
  &__control,
  &__menu {
    @extend .d-block;
    @extend .w-100;
    padding: $form-select-padding-y $form-select-padding-x;
    font-family: $form-select-font-family;
    @include font-size($form-select-font-size);
    font-weight: $form-select-font-weight;
    line-height: $form-select-line-height;
    color: $form-select-color;
    background-color: $form-select-bg;
    border: $form-select-border-width solid $form-select-border-color;
    @include border-radius($form-select-border-radius, 0);
    @include box-shadow($form-select-box-shadow);
    appearance: none;
  }

  &__control {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .gap-1;
    min-height: auto !important;

    &:hover {
      border-color: $form-select-border-color;
    }

    &--menu-is-open {
      border-color: color("primary");
    }

    &:focus,
    &--is-focused {
      border-color: $input-focus-border-color;
      outline: 0;
      @if $enable-shadows {
        @include box-shadow(
          $form-select-box-shadow,
          $form-select-focus-box-shadow
        );
      } @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: $form-select-focus-box-shadow;
      }
    }

    &[multiple],
    &[size]:not([size="1"]) {
      padding-right: $form-select-padding-x;
      background-image: none;
    }

    &:disabled,
    &--is-disabled {
      color: $form-select-disabled-color;
      background-color: $form-select-disabled-bg;
      border-color: $form-select-disabled-border-color;
    }
  }

  &__value-container {
    @extend .text-nowrap;
    @extend .gap-1;
  }

  &__value-container.chemotion-select__value-container--is-multi {
    @extend .flex-wrap;
    @extend .text-wrap;
  }

  &__indicator,
  &__value-container,
  &__input-container,
  &__placeholder,
  &__single-value,
  &__indicator-separator {
    @extend .p-0;
    @extend .m-0;
  }

  &__single-value .badge {
    @extend .d-block;
  }

  &__indicator {
    &-separator {
      @extend .d-none;
    }

    &.chemotion-select__dropdown-indicator {
      @include hide-svg;
      width: 1.75rem;
      height: 1rem;
      background-image: escape-svg($form-select-indicator);
      background-repeat: no-repeat;
      background-position: right center;
      background-size: $form-select-bg-size;
    }
  }

  &__menu {
    padding: $form-select-padding-y 0;
    box-shadow: none;
    z-index: 10;
  }

  &__option {
    padding: $form-select-padding-y $form-select-padding-x;

    &--is-selected,
    &--is-selected.chemotion-select__option--is-focused {
      background-color: $input-focus-border-color;
    }

    &--is-focused {
      background-color: $input-focus-border-color;
    }
  }

  &__multi-value {
    @extend .badge;
    @extend .rounded-pill;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .gap-1;
    @extend .text-bg-light;
    @extend .border;
    @extend .border-opacity-25;
    @extend .pe-1;
    &__remove {
      @include fa-based-remove-icon;
    }
  }

  &__clear-indicator {
    @include fa-based-remove-icon;
  }
}

.select-in-inputgroup-text {
  &__control {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .gap-1;
    min-height: auto !important;

    &:hover {
      border-color: $form-select-border-color;
    }

    &--menu-is-open {
      border-color: color("primary");
    }

    &:focus,
    &--is-focused {
      border-color: $input-focus-border-color;
      outline: 0;
      @if $enable-shadows {
        @include box-shadow(
          $form-select-box-shadow,
          $form-select-focus-box-shadow
        );
      } @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: $form-select-focus-box-shadow;
      }
    }
  }

  &__menu {
    padding: $form-select-padding-y 0;
    box-shadow: none;
    z-index: 10;
  }

  &__option {
    padding: $form-select-padding-y $form-select-padding-x;

    &--is-selected,
    &--is-selected.chemotion-select__option--is-focused {
      background-color: color("primary");
    }

    &--is-focused {
      background-color: $input-focus-border-color;
    }
  }
}

.select-in-inputgroup-text__control {
  min-height: 30px !important;
}

.select-in-inputgroup-text__menu-list {
  @extend .bg-white;
}

.select-in-inputgroup-text__option,
.select-in-inputgroup-text__menu-list {
  width: 160px;
  white-space: normal;
  text-align: left;
  overflow-x: hidden;
}
