/* Common Styles */
.btn-common {
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 550;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-common:focus, .btn-common:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  outline: none;
}

.btn-common:active {
  box-shadow: none;
  transform: scale(0.98);
}

/* Variant Styles */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004792;
}

.btn-primary:focus, .btn-primary:active {
  background-color: #004792;
  border-color: #003566;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:focus, .btn-secondary:active {
  background-color: #4e555b;
  border-color: #464c51;
}

.btn-tertiary {
  background-color: transparent;
  color: #007bff;
  border-color: #007bff;
  text-decoration: none;
}

.btn-tertiary:hover {
  background-color: #0056b3;
  border-color: #004792;
}

.btn-tertiary:focus, .btn-tertiary:active {
  background-color: #004792;
  border-color: #003566;
}

/* Option Styles */
.btn-main {
  min-width: 35px;
  height: 35px;
  font-size: 16px;
  margin-right: 10px;
}

.btn-panel {
  min-width: 30px;
  height: 30px;
  margin-right: 10px;
}

.btn-modal {
  min-width: 40px;
  height: 40px;
}

.btn-popover {
  min-width: 35px;
  height: 25px;
  margin-top: 6px;
}

/* Squared */
.btn-square {
  aspect-ratio: 1 / 1;
  min-width: unset;
}
