development:
  :server: 'http://141.52.97.232:5000/moldesign/api/v1.0/smiles'
  :hmac_secret: 'comPut3$ecretK3y'
  :receiving_secret: 'r3c3!ving$ecretK3y'
  :allowed_uids: [1]

production:
  :server: 'http://141.52.97.232:5000/moldesign/api/v1.0/smiles'
  :hmac_secret: 'comPut3$ecretK3y'
  :receiving_secret: 'r3c3!ving$ecretK3y'
  :allowed_uids: [1]
