shared:
  :ext:
    - '.aif'
    - '.brml'
    - '.cif'
    - '.dpt'
    - '.dsp'
    - '.dta'
    - '.gz'
    - '.pssession'
    - '.tar'
    - '.txt'
    - '.xls'
    - '.xlsx'
    - '.xy'
  :profile:
  :secret_key:
  :timeout:
  :url:

development:
  :profile: 'chemotion'
  :secret_key: 'chemotion'
  :timeout: 300
  :url: 'http://converter:4000/'

test:
  :url:

production:
  :url:
