# Chemotion converter service. Rails merges `shared:` into every environment;
# an environment block only needs the keys it changes.
#
# The url is the converter container of docker-compose.services.yml (development)
# and of the production images, both reached on the `chemotion` network. Set
# :url: to empty in production to disable the converter; :profile and
# :secret_key are the credentials the converter service accepts.
shared:
  :url: 'http://converter:4000/'
  :profile: 'chemotion'
  :secret_key: 'chemotion'
  :timeout: 300
  :ext:
    - '.aif'
    - '.brml'
    - '.cfx_LANA'
    - '.cif'
    - '.csv'
    - '.dpt'
    - '.dsp'
    - '.dta'
    - '.gz'
    - '.json'
    - '.log'
    - '.mpl'
    - '.mpr'
    - '.mps'
    - '.pdf'
    - '.pssession'
    - '.tar'
    - '.tif'
    - '.tiff'
    - '.txt'
    - '.uxd'
    - '.xls'
    - '.xml'
    - '.xlsx'
    - '.xrdml'
    - '.xrd'
    - '.xy'

test:
  :url:

# Production accepts a narrower set of extensions than development and test.
production:
  :ext:
    - '.aif'
    - '.brml'
    - '.cif'
    - '.dpt'
    - '.dsp'
    - '.dta'
    - '.gz'
    - '.pssession'
    - '.tar'
    - '.txt'
    - '.xls'
    - '.xlsx'
    - '.xy'
