shared:
  :ext:
    - '.aif'
    - '.brml'
    - '.cif'
    - '.dpt'
    - '.dsp'
    - '.dta'
    - '.gz'
    - '.pssession'
    - '.tar'
    - '.txt'
    - '.xls'
    - '.xlsx'
    - '.xy'
  :profile:
  :secret_key:
  :timeout:
  :url:

development:
  :profile: 'chemotion'
  :secret_key: 'chemotion'
  :timeout: 300
  :url: 'http://converter:4000/'
  :ext:
    - '.aif'
    - '.brml'
    - '.cfx_LANA'
    - '.cif'
    - '.csv'
    - '.dpt'
    - '.dsp'
    - '.dta'
    - '.gz'
    - '.json'
    - '.log'
    - '.mpl'
    - '.mpr'
    - '.mps'
    - '.pdf'
    - '.pssession'
    - '.tar'
    - '.tif'
    - '.tiff'
    - '.txt'
    - '.uxd'
    - '.xls'
    - '.xml'
    - '.xlsx'
    - '.xrdml'
    - '.xrd'
    - '.xy'

test:
  :url:

production:
  :url:
