development:
  adapter: postgresql
  encoding: unicode
  database: chemotion_dev
  pool: 5
  username: postgres
  password:
  template: template0

test:
  adapter: postgresql
  encoding: unicode
  database: chemotion_test
  pool: 5
  username: postgres
  password:
  template: template0

production:
  adapter: postgresql
  encoding: unicode
  database: chemotion_production
  pool: 5
  username: postgres
  password:
