development:
  :url:
  :client_id:
  :client_secret:
  :redirect_uri:
  :email:
  :backlink:
  :publisher:
  :resource:
  :resourceType:
  :softwareName:
  :softwareVersion:

production:
  :url:
  :client_id:
  :client_secret:
  :redirect_uri:
  :email:
  :backlink:
  :publisher:
  :resource:
  :resourceType:
  :softwareName:
  :softwareVersion:
