development:
  :url: '0.0.0.0'
  :port: '3007'
  :nmrdisplayer:
    :protocol: 'https'
    :url: 'nmriumdev.nmrxiv.org'
    :port: ''

test:
  :url: '123.123.123.123'
  :port: '2412'
  :nmrdisplayer:
    :protocol: 'http'
    :url: '123.123.123.123'
    :port: '8081'

production:
  :url: '123.123.123.123'
  :port: '2412'
  :nmrdisplayer:
    :protocol: 'https'
    :url: 'nmrium.nmrxiv.org
    :port: ''
