development:
  :url: '0.0.0.0'
  :port: '3007'
  :nmrdisplayer:
    :protocol: 'http'
    :url: '172.21.39.135'
    :port: '8081'

test:
  :url: '123.123.123.123'
  :port: '2412'
  :nmrdisplayer:
    :protocol: 'http'
    :url: '123.123.123.123'
    :port: '8081'

production:
  :url: '123.123.123.123'
  :port: '2412'
  :nmrdisplayer:
    :protocol: 'http'
    :url: '123.123.123.123'
    :port: '8081'
