# For more info: See https://chemotion.net/docs/eln/install_configure/configuration#structure-editor
shared:
  :editors:
    :ketcher2:
      :label: 'Ketcher 2'
      :extSrc: '/editors/ketcher2/standalone/index.html'

