# For more info: See https://chemotion.net/docs/eln/install_configure/configuration#structure-editor
shared:
  :editors:
    :ketcher:
      :label: 'Ketcher'
      :extSrc: '/editors/ketcher/standalone/index.html'

