development:
  :name_abbreviation:
    :reserved_list:
      - 'CRR'
      - 'CRS'
      - 'CRD'
    :length_group: [2, 5]
    :length_device: [2, 6]
    :length_default: [2, 3]

production:
  :name_abbreviation:
    :reserved_list:
      - 'CRR'
      - 'CRS'
      - 'CRD'
    :length_group: [2, 5]
    :length_device: [2, 6]
    :length_default: [2, 3]