.align-title {
 font-size: 20px;
  margin-bottom: 20px;
}

.entry-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.current-entry-width {
  width: 200px;
}

.error-control {
  border: 1px solid red;
}
