.invalid-input {
    border-color: red !important;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    .css-1pahdxg-control{
        border-style: none;
    }
    .css-1pahdxg-control{
        box-shadow: 0 0 0 0px #2684FF;
        border-style: none;
    }
}

.cell-line-name{
    input{
        font-size: 14px !important;
        margin-bottom: 8px;
        color: #555555 !important;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        font-family:arial, sans-serif !important;
    }
    .clear-icon{
        visibility: hidden;
    }
    .css-g1d714-ValueContainer{
        height:36px;
    }
    .css-1hb7zxy-IndicatorsContainer{
        height:36px;   
    }

    .invalid{
        .css-yk16xz-control{
            border-color: red !important;
        }
        .css-1pahdxg-control{
            box-shadow: 0 0 0 0px #ff2626;
            border-color: red !important;
            border-style: solid;
        }
    }
    .cell-line-name-autocomplete{
        height:36px;
        z-index: 999;
        margin-bottom: 2px;

        .wrapper{
            z-index: 999;
            height:36px;
            border-radius: 4px;
            
        }
        .invalid{
            .wrapper{
                border-color: red !important;
            }
        }

        li{
            z-index: 999;
           background-color:white;
           color:rgb(58, 58, 58);
        }
        .selected{
            background-color:rgb(204, 204, 204);
        }
        ul{
            margin-top: -13px;
            font-size: 10px;
            background-color:rgb(211, 211, 211) !important;
            padding-bottom: 0px !important;
            border-width: 1px !important;
            border-style:solid;
            border-color: #6d6d6d !important;
        }
    }
}

#cell-line-details-tab{
    .tab-content{
        margin-top: 20px;
    }
}

.analysis-container{
    .last-hovered-element{
        border-width: 1px;
        border: #337ab7;
        border-style: dashed;
    }
}
