#ChemSpectra,
#ChemSpectraEditor {
  padding-top: 5px;
  margin: 0 auto;
  max-width: 95%;

  .txt-notice {
    font-size: 16px !important;
  }

  .txt-sv-subBtn {
    font-size: 14px !important;
  }

  .csc-write-ta {
    height: 36px !important;
  }
}
