@import "bootstrap/functions";
@import "bootstrap/variables";

.tree-view .title {
  cursor: pointer;
}

.title {
  background: $gray-200;
  font-size: 14px;
  padding: 7px;
  margin-bottom: 1px;
  position: relative;
  overflow: auto;
}

.tree-view li {
  margin-left: -13px;
  list-style-type: none;
}

.tree-view button {
  margin-right: 5px;
}

.selected {
  background: $primary;
  color: $white;
}

.small-panel .d-flex {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small-panel .btn-toolbar {
  flex-wrap: nowrap;
}
