$highlightColor: #337ab7;

div[role=columnheader] {
  display: grid;

}

.header-title {
    &:hover {
        color: $highlightColor;
    }
}

.customHeaderLabel {
  float: left;
  margin: 0 0 0 3px;
}

.sortHeader {
  float: right;
}

.customSortUpLabel {
  float: left;
  margin: 0 0 0 3px;
  color: inherit;
  padding: 0;
}

.customSortDownLabel {
  float: left;
  margin: 0 0 0 3px;
  color: inherit;
  padding: 0;
}

.customSortRemoveLabel {
  float: left;
  margin: 0 0 0 3px;
  font-size: 11px;
  color: inherit;
  padding: 0;
}

.sort_active {
  color: $highlightColor;
}