.custom-radio .form-check-input:checked {
  background-color: green;
  border-color: green;
}

.nested-radio-container {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.nested-radio-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid #dee2e6;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    border-color: #86b7fe;
  }

  &:focus {
    border-color: rgb(0, 123, 255);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(134, 183, 254, 1);
  }

  &.checked {
    border-color: green;
    border-width: 6px;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.nested-radio-inner {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #dee2e6;
  background-color: white;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  z-index: 2;

  &:hover {
    border-color: #86b7fe;
  }

  &:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(134, 183, 254, 1);
  }

  &.checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
    border: 1px solid white;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
