svg.molecule {
  width: 180px;
  height: 90px;
}

svg.reaction-header {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.molecule rect {
  fill: none;
  fill-opacity: 0;
}

svg.well-molecule {
  position: relative;
  top: -2px;
  width: 40px;
  height: 40px;
}

.well-molecule rect {
  opacity: 0;
}

svg.molecule-small {
  width: 50px;
  height: 50px;
}

.molecule-small rect {
  opacity: 0;
}

svg.molecule-mid {
  width: 100%;
  height: 200px;
}

svg.molecule-fixed-data {
  max-width: 100%;
  height: 100px;
}

.molecule-mid rect {
  opacity: 0;
}

.reaction-selected line,
.reaction-selected text,
.reaction-selected polygon,
.molecule-selected line,
.molecule-selected text {
  stroke: white;
  fill: white;
}

svg.reaction,
svg.research_plan {
  max-height: 90px;
  height: 100%;
  width: 90%;
  margin-left: 10px;
}

svg.sample-details,
svg.reaction-details {
  max-width: 100%;
  max-height: 200px;
  width: 100%;
}

.preview-modal {
  width: 90% !important;
}

.preview-popover svg {
  max-width: 50vw;
  max-height: calc(100vh - 200px);
}

svg.preview-popover-fixed {
  width: 50vw;
  height: 25vw;
}

svg.preview-modal {
  width: 90%;
  margin: 20px;
}

.preview-modal .svg-file-container {
  height: calc(100vh - 200px);
}
