.nmrdb-logo {
  display: inline-block;
  background-image: asset_url("nmrdb_logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 16px;
}