.research-plan-details {

    .form-group {
        margin-bottom: 0;
    }

    .research-plan-export-dropdown {
        margin-top: 20px;
    }

    .research-plan-name {
        &.static {
            margin-top: 20px;
            margin-bottom: 20px;

            h1 {
                margin: 0;
                font-size: 26px;
                line-height: 32px;
            }
        }
    }

    .research-plan-field {
        label {
            margin-top: 5px;
        }
        .drag-source {
            float: right;
            margin-top: 5px;
            margin-right: 5px;
        }
        &.static {
            margin-bottom: 20px;

            .ql-editor {
                padding: 0;
            }

            .ql-hidden {
                display: none;
            }
        }

        .image-container {
            text-align: center;

            img {
                max-width: 100%;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    .research-plan-field-drop-add-field {
        button {
            width: 60px;
        }
    }

    .research-plan-table-toolbar {
        margin-top: 10px;

        button {
            width: 100%;
        }
    }

    .dropzone {
        min-height: 50px;
        width: 100%;
        border: 3px dashed lightgray;

        .image-container {
            margin: 15px;
        }

        p {
            text-align: center;
            padding-top: 12px;
            color: grey;
        }
    }

    .drop-target {
        min-height: 50px;
        width: 100%;
        border: 3px dashed lightgray;
        padding: 10px;

        &.is-over {
            border: 3px solid lightgray;
        }
    }
}

.research-plan-table-schema-modal-create {
    margin-bottom: 40px;
}

.research-plan-table-schema-modal-table {
    button {
        float: right;
        margin-left: 5px;
    }
}

.research-plan-dropzone-enable {
    height: 50px;
    width: 100%;
    border: 3px dashed lightgray;
    display: flex;
    cursor:pointer;
    .zone {
        margin: auto;
        color: grey;
    }
}

.research-plan-dropzone-disable {
    height: 50px;
    width: 100%;
    border: 3px dashed lightgray;
    display: flex;
    cursor: not-allowed;
    background-color: #e8e8e8;
    pointer-events: none;
    .zone {
        margin: auto;
        color: grey;
    }
}

.image-annotation-button-researchplan{
    button{
        height: 100%;
        width: 15%;
        top: 0px;
        margin-left:5px;
        position:absolute;
    }
}

.research-plan-attachments-annotation-download{
    button{
        margin-right: 10px;
    }
}

.imageEditedWarning{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    white-space: nowrap;

    div{
        background-color: #ffcc00;
        border: 1px solid #d0d0d0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #333;
        padding: 10px;
        margin: 0;
        border-radius: 4px;
        transition: all 0.3s ease;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.research-plan-table-grid.grid-with-collapsed-rows {
    .ag-body-viewport {
        display: none
    }
}
