.message-container
    .message-box
        %h2= @header
        %p= @message

        %p
            %a.btn.btn-primary{ href: '/', style: "padding: 10px 20px; text-decoration: none; color: white; background-color: #007bff; border-radius: 5px;" } Home