.container.my-5
  %h2  Registration Successful

  %p
    Your token has been registered successfully.

  %p
    You may now safely close this window.

  %button{ onclick: "window.close()", class: "btn btn-primary" }
    Close

