.attachment-dropzone {
  @extend .dnd-zone;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attachment-dropzone:hover {
  @extend .dnd-zone-over;
}

.sorting-row-style {
  padding: 5px;
  border-radius: 5px;
  @extend .border;
  height: 35px;
}

.sort-icon-style:hover {
  color: $gray-600 !important;
  transform: scale(1.1);
  transition: color 0.3s, transform 0.3s
}

.attachment-row {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  @extend .p-2;
  transform-origin: center;
  position: relative;
}

.attachment-row:hover {
  @extend .bg-gray-200;
}

.attachment-row-image {
  @extend .position-relative;
  @extend .border;
  @extend .rounded;

  width: 45px;
  height: 45px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.large-preview-modal {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 4px;
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}



.attachment-row-image:hover .large-preview-modal {
  @extend .visible;
}

.attachment-row-text {
  flex: 0.7;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $body-color;
  font-size: 16px;
}

.attachment-row-subtext {
  font-size: 12px;
  color: $gray-600;
  display: flex;
}

.attachment-row-actions {
  flex: 0.4;
  display: flex;
  margin-right: 5px;
  justify-content: flex-end;
}

.attachment-button-size {
  width: 30px !important;
  height: 30px !important;
}

.attachment-main-container {
  padding: 10px;
  background-color: $body-bg;
  border-radius: 5px;
}

.no-attachments-text {
  text-align: center;
  font-size: 16px;
  @extend .text-muted;
}
