.tree-view {
  @extend .d-flex;
  @extend .flex-column;
  &_frame {
    min-height: 0;
  }
  &_container {
    @extend .tree-view;
    @extend .overflow-y-auto;
    @extend .surface-lighten3;
    @extend .border-top;
  }
  &__item {
    @extend .d-flex;
    @extend .align-items-center;
    cursor: pointer;
    font-size: 14px;
    min-height: 36px;
    @extend .py-1;
    @extend .pe-2;
    @extend .gap-2;
    &:hover {
      @extend .surface-hover-on-grey;
    }

    &--selected {
      @extend .surface-active-on-grey;
      &:hover {
        @extend .surface-hover-on-grey;
      }
    }

    i {
      @extend .text-lighten1;
    }
  }
  &_expand-icon {
    &:hover {
      @extend .text-active;
    }
  }
  &_title {
    @extend .flex-grow-1;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.tree-view__item {
  .collection-subtree-functions {
    display: none;
  }
  &:hover .collection-subtree-functions {
    display: block;
  }
}
