.tree-view {
  @extend .d-flex;
  @extend .flex-column;
  &_frame {
    min-height: 0;
  }
  &_container {
    @extend .tree-view;
    @extend .overflow-y-auto;
  }
  &_item {
    @extend .d-flex;
    @extend .align-items-baseline;
    cursor: pointer;
    background-color: map-get($silicon-shades, l3);
    font-size: 14px;
    @extend .py-2;
    @extend .pe-3;
    &:hover {
      background-color: $chemstrap-blue-light;
    }

    &--selected {
      background-color: map-get($silicon-shades, l4);
      &:hover {
        background-color: $chemstrap-blue-light !important;
      }
    }

    i {
      color: $gray-600;
    }
  }

  &_title {
    @extend .flex-grow-1;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}
