.sample-list-from-date, .sample-list-to-date {
  input {
    font-size: 13px;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px $gray-100;
    border: 1px solid $gray-200;
    line-height: 16px;
    padding: 6px 10px 5px;
    width: 95px;
  }
}

.elements-list {
  @extend .border;
  @extend .border-top-0;
  max-height: calc(100vh - 300px);
  @extend .mb-3;
  overflow-x: hidden;
  overflow-y: scroll;
}

.elements-table-header {
  @extend .border;
  @extend .border-top-0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  background-color: $gray-300;
  padding: 5px;
}

@media (max-width: 600px) {
  .elements-table-header {
    height: auto;
    flex-wrap: wrap;
    overflow: auto;
  }
}

.sample-entries > tbody > tr > td {
  border-top: 0;
}

@media only screen and (max-width: 1500px) {
  .elements-list {
    height: calc(100vh - 350px);
  }
}
