.sample-list-from-date,
.sample-list-to-date {
  input {
    font-size: 13px;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px $gray-100;
    border: 1px solid $gray-200;
    line-height: 16px;
    padding: 6px 10px 5px;
    width: 95px;
  }
}

.elements-table-header {
  @extend .p-2;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-between;
  min-height: 40px;
}

@media (max-width: 600px) {
  .elements-table-header {
    height: auto;
    flex-wrap: wrap;
    overflow: auto;
  }
}
