.material-group {
  @include condensed-text-width;
  @extend .pseudo-table;
  margin-bottom: 2px;
  .pseudo-table__row-header {
    @extend .rounded;
    @extend .border;
  }
  container-name: material-group;
  container-type: inline-size;
  &.material-group--can-drop {
    .pseudo-table__row-header {
      @extend .surface-lighten3;
    }
    &.material-group--is-over .pseudo-table__row-header {
      @extend .bg-transparent;
    }
  }
  &__add-actions {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .gap-1;
  }
  &__header-title {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .ps-4;
    @extend .justify-content-between;
    @extend .flex-grow-1;
    max-width: 12.5rem;
  }
}

@container material-group (width < 54.5rem) {
  .material-group__header-title {
    flex-direction: column;
    align-items: flex-start !important;
  }
}
