.panel-collapse-button {
  @extend .btn-sm;
  @extend .p-0;
  @extend .rounded-0;
  height: 48px;
  width: 16px;
  --bs-btn-border-radius: 0;
  border-radius: 0 !important;
  cursor: pointer !important;
  * {
    cursor: pointer !important;
  }
}
