.panel-resize-handle {
  background-color: map-get($carbon-shades, l1);
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-evenly;
  @extend .border-start;
  @extend .border-end;
  &:after,
  &:before {
    content: "";
    height: 42px;
    top: calc(50% - 42px);
    background-image: radial-gradient(
      circle at 4px 4px,
      map-get($carbon-shades, l4) 2px,
      transparent 0
    );
    background-size: 5px 5px;
  }
  &:hover:after,
  &:hover:before {
    background-image: radial-gradient(
      circle at 4px 4px,
      map-get($carbon-shades, l5) 2px,
      transparent 0
    );
  }
}
