.reaction-variation-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  display: block;
  font: inherit;
}