.header-group-select {
  .Select-control {
    width: 200px;
    height: 27px;
    cursor: pointer;
    box-shadow: inset 0 2px 2px #e9e9e9;
    border: 1px solid #aeaeae;
  }

  .Select-value {
    line-height: 2 !important;
  }

  .Select-input {
    height: 27px !important;
  }
}
