.selection-actions {
  container-name: selection-actions;
  container-type: inline-size;
  flex-wrap: wrap;
}

.selection-action-text-label {
  display: none;
  white-space: nowrap;
}

@container selection-actions (width > 43rem) {
  .selection-action-text-label {
    display: inline;
  }
}
