$sidebar-logo-height: 72px;

.topbar {
  min-height: $sidebar-logo-height;
}

.sidebar {
  @extend .d-flex;
  @extend .text-bg-paper;
  @extend .flex-shrink-0;
  @extend .position-relative;
  width: 300px;
  &-button-frame {
    @extend .d-flex;
    background-color: $chemstrap-grey1;
    gap: 1px;
    padding: 1px;
  }
  &.sidebar--collapsed {
    width: 78px;
  }
  &-logo {
    @extend .position-absolute;
    @extend .top-0;
    @extend .start-0;
  }
  &-content {
    @extend .h-100;
    @extend .d-flex;
    @extend .flex-column;
    @extend .gap-4;
    @extend .flex-grow-1;
    @extend .pb-4;
    padding-left: 16px;
    padding-top: $sidebar-logo-height; //logo height
  }
  &-collapse-button-container {
    margin-top: $sidebar-logo-height; //hack to compensate header height
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-center;
  }
  &-button {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .rounded-0;
    min-height: 44px;
    min-width: 44px;
    padding-left: 8px;
    padding-right: 8px;
    &.btn-light {
      background-color: $chemstrap-paper;
    }
    font-size: 16px;
    i {
      font-size: 20px;
    }
    .badge {
      font-size: 10px;
      z-index: 2;
    }
  }
}

.collection-management-button {
  @extend .rounded-0;
}
