.sidebar-collapse-button-container {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .flex-column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto -30px auto 0;
  z-index: 1000;
}

.sidebar-collapse-button {
  width: 30px;
}
