.sidebar {
  @extend .position-relative;
  @extend .text-bg-paper;
  @extend .p-3;
  width: 300px;
  @extend .flex-shrink-0;
  &.sidebar--collapsed {
    width: 80px;
  }
}

$sidebar-button-diameter: 16px;

.sidebar-collapse-button-container {
  @extend .position-absolute;
  @extend .end-0;
  @extend .overflow-hidden;
  top: calc(50% - #{$sidebar-button-diameter});
  width: $sidebar-button-diameter;
  margin: auto -13px auto 0;
  z-index: 1000;
}

.sidebar-collapse-button {
  @extend .btn-sm;
  @extend .p-2;
  @extend .text-end;
  @extend .text-primary;
  @extend .rounded-circle;
  background-color: $chemstrap-paper !important;
  border-color: transparent !important;
  margin-left: -$sidebar-button-diameter;
  width: $sidebar-button-diameter * 2;
  height: $sidebar-button-diameter * 2;
}
