//
// Icon Font: icons
//

@font-face {
  font-family: "icons";
  src: url("icons.eot");
  src: url("icons.eot?#iefix") format("embedded-opentype"),
       url("icons.woff") format("woff"),
       url("icons.ttf") format("truetype"),
       url("icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: url("icons.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-delete:before,
.icon-reaction:before,
.icon-sample:before,
.icon-wellplate:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-delete:before { content: "\f103"; }
.icon-reaction:before { content: "\f100"; }
.icon-sample:before { content: "\f101"; }
.icon-wellplate:before { content: "\f102"; }

$font-icons-delete: "\f103";
$font-icons-reaction: "\f100";
$font-icons-sample: "\f101";
$font-icons-wellplate: "\f102";
