//
// Icon Font: icons
//

@font-face {
  font-family: "icons";
  src: asset_url("icons.eot");
  src: asset_url("icons.eot?#iefix") format("embedded-opentype"),
       asset_url("icons.woff") format("woff"),
       asset_url("icons.ttf") format("truetype"),
       asset_url("icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: asset_url("icons.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-acidified-hcl:before,
.icon-dried:before,
.icon-gpx-a:before,
.icon-gpx-b:before,
.icon-hand-stop:before,
.icon-isolated:before,
.icon-polymer:before,
.icon-reaction:before,
.icon-reaction-procedure:before,
.icon-residue-adsorbed:before,
.icon-residue-dissolved:before,
.icon-residue-purified:before,
.icon-resin-solvent:before,
.icon-resin-solvent-reagent:before,
.icon-sample:before,
.icon-screen:before,
.icon-tlc-control:before,
.icon-washed-nahco3:before,
.icon-water-free:before,
.icon-wellplate:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-acidified-hcl:before { content: "\f10a"; }
.icon-dried:before { content: "\f115"; }
.icon-gpx-a:before { content: "\f10c"; }
.icon-gpx-b:before { content: "\f10d"; }
.icon-hand-stop:before { content: "\f105"; }
.icon-isolated:before { content: "\f10e"; }
.icon-polymer:before { content: "\f104"; }
.icon-reaction:before { content: "\f100"; }
.icon-reaction-procedure:before { content: "\f107"; }
.icon-residue-adsorbed:before { content: "\f10f"; }
.icon-residue-dissolved:before { content: "\f110"; }
.icon-residue-purified:before { content: "\f111"; }
.icon-resin-solvent:before { content: "\f108"; }
.icon-resin-solvent-reagent:before { content: "\f109"; }
.icon-sample:before { content: "\f101"; }
.icon-screen:before { content: "\f103"; }
.icon-tlc-control:before { content: "\f112"; }
.icon-washed-nahco3:before { content: "\f113"; }
.icon-water-free:before { content: "\f106"; }
.icon-wellplate:before { content: "\f102"; }
.icon-research_plan:before {
  font-family: FontAwesome;
  content: "\f0f6";
}

$font-icons-acidified-hcl: "\f10a";
$font-icons-dried: "\f115";
$font-icons-gpx-a: "\f10c";
$font-icons-gpx-b: "\f10d";
$font-icons-hand-stop: "\f105";
$font-icons-isolated: "\f10e";
$font-icons-polymer: "\f104";
$font-icons-reaction: "\f100";
$font-icons-reaction-procedure: "\f107";
$font-icons-residue-adsorbed: "\f10f";
$font-icons-residue-dissolved: "\f110";
$font-icons-residue-purified: "\f111";
$font-icons-resin-solvent: "\f108";
$font-icons-resin-solvent-reagent: "\f109";
$font-icons-sample: "\f101";
$font-icons-screen: "\f103";
$font-icons-tlc-control: "\f112";
$font-icons-washed-nahco3: "\f113";
$font-icons-water-free: "\f106";
$font-icons-wellplate: "\f102";
$font-icons-research_plan: "\f0f6";
