/*
 * In order to control import order and provide access to variables, mixins and utilities, we import
 * the files within this directory manually via sass `@import`, instead of using `require_tree .`
 * 
 * The files in the legacy directory have not yet been aligned with the design system initiative and
 * will be refactored in the future.
 *
 *= require_self
 */

@import "global-styles/bootstrap-config";
@import "global-styles/bootstrap-mods";
@import "global-styles/vendor";
@import "global-styles/icons";
// file css rules that are used by multiple components under global-styles/utilities
@import "global-styles/utilities";

// file css rules that are targeted at specific components under components
@import "components/MydbApp";
@import "components/AttachmentList";
@import "components/ButtonGroupToggleButton";
@import "components/CollectionTree";
@import "components/ElementsTable";
@import "components/ElementGroupsRenderer_ElementListRenderer";
@import "components/Report";
@import "components/SearchModal";
@import "components/SearchResult";
@import "components/QuillEditor";
@import "components/QuillViewer";
@import "components/svg_with_popver";

@import "legacy/miscellaneous";
@import "legacy/AttachmentContainer";
@import "legacy/sample";
@import "legacy/cellLines";
@import "legacy/chemical-tab";
@import "legacy/chemspectra";
@import "legacy/collection_management";
@import "legacy/collection_tree";
@import "legacy/common";
@import "legacy/converter";
@import "legacy/CustomHeader";
@import "legacy/elements_details";
@import "legacy/export-collections";
@import "legacy/format-container";
@import "legacy/generic_element";
@import "legacy/material";
@import "legacy/measurement_export_modal";
@import "legacy/metadata";
@import "legacy/molecules";
@import "legacy/molviewer";
@import "legacy/mozilla";
@import "legacy/navigation";
@import "legacy/nmrdb-logo";
@import "legacy/omniauth";
@import "legacy/polymer_section";
@import "legacy/prediction";
@import "legacy/qc";
@import "legacy/qr";
@import "legacy/quill_toolbar_template";
@import "legacy/reaction";
@import "legacy/research-plan-table-context-menu";
@import "legacy/research-plan";
@import "legacy/select";
@import "legacy/spectra";
@import "legacy/structur_editor";
@import "legacy/switch";
@import "legacy/tab_layout_container";
@import "legacy/wellplate";
@import "legacy/custom";
@import "legacy/inbox";
