/*
 * In order to control import order and provide access to variables, mixins and utilities, we import
 * the files within this directory manually via sass `@import`, instead of using `require_tree .`
 *
 * The files in the legacy directory have not yet been aligned with the design system initiative and
 * will be refactored in the future.
 *
 *= require_self
 */

// file css rules that are used by multiple components under global-styles/utilities
@import "global-styles/chemstrap-tokens";
@import "global-styles/bootstrap-config";
@import "global-styles/bootstrap-mods";
@import "global-styles/utilities";
@import "global-styles/vendor";
@import "global-styles/icons";
@import "global-styles/tags";

// file css rules that are targeted at specific components under components
@import "components/AttachmentList";
@import "components/ButtonGroupToggleButton";
@import "components/CollectionTree";
@import "components/DragHandle";
@import "components/ElementAllCheckbox";
@import "components/ElementDragLayer";
@import "components/ElementsTable";
@import "components/ElementGroupsRenderer_ElementListRenderer";
@import "components/ElementsTable";
@import "components/MaterialGroup";
@import "components/MydbApp";
@import "components/NumeralInputWithUnits";
@import "components/ValidationComponent";
@import "components/PanelCollapseButton";
@import "components/PanelResizeHandle";
@import "components/QuillEditor";
@import "components/QuillViewer";
@import "components/ReactionMaterial";
@import "components/ReactionSchemeGraphic";
@import "components/Report";
@import "components/ReorderableList";
@import "components/SampleName";
@import "components/SearchModal";
@import "components/SearchResult";
@import "components/SelectionActions";
@import "components/Sidebar_Topbar";
@import "components/TabLayoutEditor";
@import "components/CollectionTabLayoutEditor";
@import "components/svg_with_popver";
@import "components/FolderDropzone.module";

@import "legacy/miscellaneous";
@import "legacy/AttachmentContainer";
@import "legacy/sample";
@import "legacy/cellLines";
@import "legacy/chemical-tab";
@import "legacy/chemspectra";
@import "legacy/collection_management";
@import "legacy/common";
@import "legacy/converter";
@import "legacy/CustomHeader";
@import "legacy/elements_details";
@import "legacy/export-collections";
@import "legacy/format-container";
@import "legacy/generic_element";
@import "legacy/metadata";
@import "legacy/molecules";
@import "legacy/molviewer";
@import "legacy/mozilla";
@import "legacy/nmrdb-logo";
@import "legacy/omniauth";
@import "legacy/polymer_section";
@import "legacy/prediction";
@import "legacy/qc";
@import "legacy/qr";
@import "legacy/quill_toolbar_template";
@import "legacy/reaction";
@import "legacy/research-plan-table-context-menu";
@import "legacy/research-plan";
@import "legacy/select";
@import "legacy/spectra";
@import "legacy/structur_editor";
@import "legacy/switch";
@import "legacy/tab_layout_container";
@import "legacy/wellplate";
@import "legacy/custom";
@import "legacy/inbox";
