/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "icons";
 @import "font-awesome";
/*
Show Bootstrap Grid as overlay for debugging

div[class="row"] {
    border: 1px dotted rgba(0, 0, 0, 0.5);
}

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
}
*/
.navbar {
  border-radius: 0;
}

#app {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table.borderless td, .table.borderless th {
  border: 0;
}

.panel-fixed {
  position: fixed;
  margin-top: -65px;
  overflow-y: scroll;
  height: 100%;
  min-width: 50%;
  margin-right: 30px;

  button.button-right {
    margin-right: 10px;
  }
}

.panel-fixed::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
