.attachment-dropzone {
  width: 100%;
  padding: 20px;
  border: 4px dashed #cccccc;
  text-align: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attachment-dropzone:hover {
  border-color: #a0a0a0;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}

.sorting-row-style {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 35px;
}

.sort-icon-style {
  margin-left: 5px;
  cursor: auto;
  font-size: 20px !important;
  color: #000;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  background: none !important;
  border: none !important;
  outline: inherit !important;
}

.sort-icon-style:focus {
  box-shadow: none !important;
}

.sort-icon-style:hover {
  color: #797979 !important;
  transform: scale(1.1);
  transition: color 0.3s, transform 0.3s
}

.attachment-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease-out;
  transform-origin: center;
  position: relative;
}

.attachment-row:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.attachment-row-image {
  flex: 0.05;
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.attachment-row-text {
  flex: 0.7;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  font-size: 16px;
}

.attachment-row-subtext {
  font-size: 12px;
  color: #777;
  display: flex;
}

.attachment-row-actions {
  flex: 0.4;
  display: flex;
  margin-right: 5px;
  justify-content: flex-end;
}

.attachment-image-modal {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.attachment-button-size {
  width: 30px !important;
  height: 30px !important;
}

.attachment-gray-button {
  background-color: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
}

.attachment-main-container {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.no-attachments-text {
  text-align: center;
  font-size: 16px;
  color: #888;
}

.sort-container {
  flex-direction: row;
  justify-content: space-between;
}

