.invalid-input {
    border-color: red !important
}

.cell-line-group-gray-background{
    background: rgb(245, 245, 245)
}
.cell-line-group-white-background{
    background:white
}

.contaminated {
    color: red !important
}


.cell-line-group-entry{
    .elements{
        margin-bottom: 1px;
    }
    .select-checkBox{
        width:30px;
    }
    .short_label{
        width:70px;
    }
    .item-text{
        width:95%;
    }
    .item-property-name{
        width:100px;
    }
    .item-name-header{
        font-weight: bold;
    }
    .item-properties{
        font-size: 90%;
    }
    .item-colon{
        width:15px;
    }
    
}
.cell-line-group-bottom-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #bdbdbd;
}

.cell-line-group-detailed-info-button-active{
    margin: 5px;
    
    background-color: #5bc0de !important;
    .fa-info-circle{
        color: #ffffff !important;
    }
}
.cell-line-group-detailed-info-button-inactive{
    margin: 5px;
    background-color: #348da8 !important;
    
    border-color: rgb(44, 44, 44) !important;
    .fa-info-circle{
        color: #ffffff !important;
    }
}

.cell-line-group-arrow{
    font-size: 1.5em !important;
    margin-left: 3px;
}

.floating{
    float:left;
}

.property-block{
    width:20%;
}

.cell-line-group-header-name{
    font-size: large;
    margin-left: 30px;
    font-weight: bold;    
}
.cell-line-group-header-property{
    margin-left: 35px;

    .property-key{
        width: 200px;
    }
    .property-key-minus{
        width: 20px;
    }
}
