.chemscanner-grid {
  margin: 10px 0px 0px 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;

  .row {
    margin-left: auto;
    margin-right: auto;
  }

  .cdjs-row {
    // z-index: -1;
    width: 90%;
    height: 500px;
    position: absolute;
    display: none;
  }

  .chemscanner-menu {
    border-radius: 3px;
    background-color: #f5f6f7;

    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;

    display: flex;
    justify-content: center;

    > div {
      margin: 5px;
    }

    .btn {
      border: 1px solid #dddfe2;
      border-radius: 8px;
      font-weight: 600;
      line-height: 22px;
    }

    .dropdown-menu {
      border-radius: 8px;
    }

    .chemscanner-menu-item {
      .menuitem {
        padding: 0px !important;
      }

      div {
        width: auto !important;
        height: auto !important;
        border-style: none !important;
        border-radius: 0px !important;
        padding: 3px 20px !important;
      }
    }
  }

  .chemscanner-files-contents {
    max-height: calc(100vh - 100px);
    overflow: auto;
    position: relative;
    margin-top: 20px;
    z-index: 1;
    padding-right: 10px;
  }

  .chemscanner-files-list {
    margin-left: 10px;

    .svg-file-container {
      > svg {
        min-height: 0;
      }
    }

    .scanned-reaction-desc {
      display: flex;
      div {
        margin: 10px;
      }
    }
  }

  .smi-text {
    font-size: 18px;
    font-weight: bold;
    word-break: break-all;
  }

  .right-btn {
    float: right;
  }

  .selected-item {
    background-color: #e8f0fe;
  }

  .scanned-item {
    border-radius: 4px;
    border: 1px solid black;
    display: flow-root;
    margin-bottom: 5px;

    button {
      margin-left: 5px;
    }

    .label {
      margin-bottom: 5px;
    }

    .svg-file-container {
      width: 100%;

      > svg {
        min-height: 0;
      }
    }

    .item-header {
      margin-bottom: 5px;
    }

    .expand-btn {
      align-items: center;
      display: flex;
      height: 25px;
      justify-content: center;
      margin-bottom: 5px;
      width: 110px;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    > .dropdown {
      float: right;
      margin-left: 5px;
      > button {
        background-color: #ccc;
      }
    }

    .chemscanner-eln {
      clear: both;
    }

    .perkin-eln-details-container {
      margin: 10px;

      .perkin-eln-details {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        font-size: 12px;

        div {
          margin: 10px;
          max-width: 33%;
        }
      }
    }
  }

  .abbreviation-management {
    display: flex;
    justify-content: center;
  }

  .chemscanner-abb-view-header {
    display: flex;
    justify-content: center;
  }

  ::-webkit-scrollbar {
    background: transparent;
    overflow: visible;
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: solid #fff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  ::-webkit-scrollbar-thumb:horizontal {
    border-width: 4px 6px;
    min-width: 20px;
  }

  ::-webkit-scrollbar-thumb:vertical {
    border-width: 6px 4px;
    min-height: 20px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #fff;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ADADAD;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }
}
