.chemscanner-grid {
  margin-top: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;

  .chemscanner-round-border {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .chemscanner-export {
    margin-right: 18px;

    .chemscanner-export-menu button {
      margin-bottom: 8px;
      margin-top: 8px;
      width: 130px;
    }
  }

  .chemscanner-header {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
    text-align: center;

    .chemscanner-type {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .radio {
        margin-right: 10px;
      }
      .radio + .radio {
        margin-top: 10px;
      }
    }
  }

  .chemscanner-dropzone {
    line-height: 20px;
    text-align: center;
    width: 100%;
  }

  .chemscanner-categories {
    padding: 0 !important;
  }

  .chemscanner-file-item {
    .chemscanner-file-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .remove-btn {
      background-color: white;
      float: right;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  .chemscanner-smiles-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    .form-group {
      margin: 5px;
      width: 100%;
    }
  }

  .chemscanner-files {
    padding-right: 10px !important;
  }

  .chemscanner-files-menu {
    // max-height: calc(100vh - 375px);
    // overflow-x: hidden;
    // overflow-y: scroll;
    // width: 16vw;
  }

  .chemscanner-files-contents {
    // max-height: calc(100vh - 25px);
    // overflow-x: hidden;
    // overflow-y: scroll;
    padding-right: 10px !important;
    padding-left: 0 !important;
  }

  .rsmi-svg {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .chemscanner-files-list {
    .svg-file-container {
      > svg {
        min-height: 0;
      }
    }
  }

  .smi-text {
    font-size: 18px;
    font-weight: bold;
    word-break: break-all;
  }

  .rsmi-item {
    border-radius: 4px;
    border: 1px solid black;
    display: flow-root;
    margin-bottom: 5px;

    button {
      margin-left: 5px;
    }

    .label {
      margin-bottom: 5px;
    }

    .remove-btn {
      float: right;
    }

    .svg-file-container {
      width: 60%;
      float: left;
      margin-right: 10px;

      > svg {
        min-height: 0;
      }
    }

    .item-header {
      margin-bottom: 5px;
    }

    .expand-btn {
      align-items: center;
      display: flex;
      height: 25px;
      justify-content: center;
      margin-bottom: 5px;
      width: 110px;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    > .dropdown {
      float: right;
      margin-left: 5px;
      > button {
        background-color: #ccc;
      }
    }

    .chemscanner-eln {
      clear: both;
    }

    .perkin-eln-details-container {
      margin: 10px;

      .perkin-eln-details {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        font-size: 12px;

        div {
          margin: 10px;
          max-width: 33%;
        }
      }
    }
  }

  .abbreviation-management {
    display: flex;
  }

  ::-webkit-scrollbar {
    background: transparent;
    overflow: visible;
    width: 17px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: solid #fff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  ::-webkit-scrollbar-thumb:horizontal {
    border-width: 4px 6px;
    min-width: 40px;
  }

  ::-webkit-scrollbar-thumb:vertical {
    border-width: 6px 4px;
    min-height: 40px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #fff;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ADADAD;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }
}
