#tree-view {
  border-right: 1px solid;
}

.tree-wrapper {
  display: block;
  position: relative;
}

.tree-view .title {
  cursor: pointer;
}

.title {
  background: #eee;
  font-size: 14px;
  padding: 7px;
  margin-bottom: 1px;
}

.tree-view li {
  margin-left: -13px;
  list-style-type: none;
}

.tree-view button {
  margin-right: 5px;
}

.selected {
  background: #337ab7;
  color: #fff;
}
