.treecontainer{
  height: 800px;
}

%rowItem > %rowItem{
    display: inline-block;
    vertical-align: middle;
}

.containertree > .rowContents {
    @extend %rowItem;
    position: relative;
    height: 10%;
    border: solid #BBB 100px;
    border-left: none;
    box-shadow: 0 2px 2px -2px;
    padding: 0 5px 0 10px;
    border-radius: 2px;
    min-width: 230px;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
  }
