.customPopover {
	position: relative;
	// text-align: center;
    padding-left: 0;
	// width: 50%;
	margin: 0 auto;
	// background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-color: '#EEE';
    box-shadow: '0 5px 10px rgba(0, 0, 0, 0.2)';
    border: '1px solid #CCC';
    border-radius: 3;
    width: 500;
    float:left;
   

}


