.customHeaderLabel {
  float: left;
  margin: 0 0 0 3px;
}

.customSortUpLabel {
  float: left;
  margin: 0 0 0 10px;
}

.customSortDownLabel {
  float: left;
  margin: 0;
}

.customSortRemoveLabel {
  float: left;
  margin: 0 0 0 3px;
  font-size: 11px;
}

.renameColumn {
  margin: 0 0 0 10px;
}

.sort_active {
  color: #5bc0de; // same colour as info buttons
}