#device-selection + ul {
  max-height: 248px;
  overflow-y: scroll;
}

.devices-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.devices-panel-header span {
  font-size: 18px;
  font-weight: bold;
}

.device-table-header {
  background-color: #ddd;
}

.devices-button-group {
  margin-right: 7px;
}

.btn.devices-button-group-clear, b.devices-button-group-clear {
  margin-right: 7px;
  color: #5fa95f;
}

.device-users-headline {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.device-users, table.table.device-users-table {
  background-color: #f5f5f5;
}

.table > tbody > tr > td.device-users {
  border-top: none;
}

hr.device-tablecell-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.device-alert, .device-list-config {
  white-space: pre-line;
}

#device-form-tabs .nav-tabs {
  border-bottom: 1px solid rgba(0,0,0, 0.4);
  margin-bottom: 15px;
}

#device-form-tabs .nav-tabs li a {
  margin-right: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #555;
  border-bottom: 1px;
}

#device-form-tabs .nav-tabs li.active a {
  color: #337ab7;
  border: 1px solid rgba(0,0,0, 0.4);
  border-bottom-color: transparent;
}

#device-form-tabs .nav-tabs li.disabled a {
  color: #ccc;
}

.device-datacollector-directory-list {
  margin: 5px 0;
  padding: 5px;
  border: thin dashed darkred;
}

.device-datacollector-directory-list h6 {
  margin: unset;
}

.device-datacollector-directory-list .input-group .form-control {
  background-color: unset;
  border: unset;
  box-shadow: none;
}

.device-datacollector-directory-list .form-group {
  margin-bottom: unset;
}

.form-with-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-with-columns .col-full {
  width: 100%;
}

.form-with-columns .col-half {
  width: 49%;
}
