.modal.draggable-modal-dialog {
  width: auto;
  height: auto;
  top: calc(100% - 95vh);
  left: calc((100% - 90vw) / 2);
  padding-right: 0 !important;
}

.modal.draggable-modal-dialog.minimized {
  height: 55px;
  overflow: hidden;
}

.modal-dialog.draggable-modal {
  transform: none !important;
  margin: 0;
  width: 90vw;
  height: 85vh;
}

.modal-content.draggable-modal-content {
  height: 100%;
}

.modal-content.draggable-modal-content.minimized {
  height: auto;
}

.draggable-modal-content .modal-header {
  background-color: var(--bs-gray-300);
  border-bottom: 1px solid var(--bs-gray-600);
  padding: 0.75rem 1rem 0.75rem 0;
}

.draggable-modal-content .modal-header:hover {
  cursor: move;
}

.draggable-modal-content .draggable-modal-stack {
  width: 100%;
  flex-wrap: wrap;
}

.draggable-modal-content .draggable-modal-stack-title {
  order: 0;
}

.draggable-modal-content .modal-title .move {
  margin: 0 1rem;
}

.draggable-modal-content .modal-header .window-minimize {
  color: var(--bs-black);
  opacity: 0.4;
}

.draggable-modal-content .modal-header .window-minimize:hover {
  color: var(--bs-black);
  opacity: 0.75;
}

.draggable-modal-content .modal-header .btn-close {
  order: 8;
  padding-top: 1.25rem;
  align-self: flex-start;
}

.draggable-modal-content .modal-header .btn-group .btn {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--bs-gray-600);
  color: var(--bs-primary);
}

.draggable-modal-content .modal-header .btn-group .btn:hover {
  color: var(--bs-gray-500);
}

.draggable-modal-content .modal-header .btn-group .btn.active {
  background-color: var(--bs-info);
  color: var(--bs-gray-800);
}

.draggable-modal-content .modal-header .btn-group .btn.active:hover {
  color: white;
}

.draggable-modal-content .modal-header .btn-group .btn .button-icon {
  margin-right: 0.25rem;
  font-size: 1.5em;
}

.draggable-modal-content .modal-body {
  padding: 0;
}

.draggable-modal-form-container {
  display: block;
  height: 100%;
}

.draggable-modal-form-container.minimized {
  display: none;
}

.draggable-modal-form-fields {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 1.25rem; 
}

.draggable-modal-form-fields .device-alert {
  flex: 0 0 auto;
  height: 93px;
  overflow-y: auto;
  white-space: pre-line;
}

.draggable-modal-form-fields .form-control {
  height: 38px;
}
.draggable-modal-scrollable-content {
  flex: 1 1 auto;
  overflow-y: auto;
  max-height: calc(85vh - 125px - 1.5rem);
  margin-bottom: 1.5rem;
}

.draggable-modal-scrollable-content.with-alert {
  max-height: calc(85vh - 232px - 1.5rem);
}

.draggable-modal-scrollable-content .tab-content {
  padding: 1rem 0.25rem;
}

.draggable-modal-scrollable-content .tab-content .is-invalid__control {
  border-color: var(--bs-danger);
}

