.padding-right {
  padding-right: 10px;
}

.button-right {
  position: absolute;
  margin-right: 25px;
  margin-top: -47px;
  float: right;
  right: 0px;
  z-index: 1;
}

.no-margin {
  margin: 0 !important;
}
