.pagination {
  margin-top: 0 !important;
}

.borderless {
    border: none !important;
    padding-top: 0px !important;
}

table.elements {
  table-layout: fixed;
}

th.check, td.check {
  width: 40px !important;
}

th.name, td.check {
  width: 120px !important;
}

.managing-actions-add-btn {
  margin-top: 11px;
}

.collection-label {
  display: inline-block;
}
