.pagination {
  margin-top: 0 !important;
}

.molecule svg {
  width: 90px;
  height: 90px;
  margin-left: 10px;
}

.molecule rect {
  fill: none;
  fill-opacity: 0.0;
}

.borderless {
    border: none !important;
    padding-top: 0px !important;
}

table.elements {
  table-layout: fixed;
}


th.check, td.check {
  width: 40px !important;
}

th.name, td.check {
  width: 120px !important;
}
