table.elemental-composition, table.elemental-composition-custom {
  font-size: 16px;

  span.data-item {
    float: left;
    min-width: 90px;
    margin-bottom: 5px;
  }

  td {
    vertical-align: top;
  }

  .form-inline .form-group {
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 15px;

    td {
      vertical-align: top;
    }

    label {
      padding-right: 5px;
      min-width: 25px;
    }

    input {
      max-width: 62px;
    }
  }

  th {
    font-size: 12px;
  }
}

table.elemental-composition-custom {

  td.loading input {
    margin-top: 5px;
  }

  th {
    padding-top: 15px;
  }
}
