.pagination {
  margin-top: 0 !important;
}

th.check {
  width: 30px !important;
}

th.drag {
  width: 40px !important;
}

.managing-actions-add-btn {
  margin-top: 11px;
}

.collection-label {
  display: inline-block;
  cursor: pointer;
}

.collection-label span {
  border: 1px solid grey;
  background-color: white;
  color: black;
}

.collection-label span:hover {
  background-color: #19B5FE;
}

.custom-overlay {
  position: absolute;
  background-color: #FFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  z-index: 1060;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  top: -12px !important;
  left: 0;
  padding: 1px;
  text-align: left;
  white-space: normal;
  width: 250px !important;
  color: black;
}

.custom-overlay > .arrow,
.custom-overlay > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.custom-overlay > .arrow {
  border-width: 11px;
  top: 25px;
  margin-top: -11px;
}

.custom-overlay > .arrow:after {
  border-width: 10px;
  bottom: -10px;
  content: " ";
}

.custom-overlay > .left {
  left: 100%;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}

.custom-overlay > .left:after {
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
}

.custom-overlay > .right {
  right: 100%;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
}

.custom-overlay > .right:after {
  left: 1px;
  border-left-width: 0;
  border-right-color: #fff;
}

.fa-user-secret {
  float:right;
  margin-top:2px;
}

.top-secret-icon {
  vertical-align: top;
  overflow: hidden;
}

.pubchem-logo {
  max-height: 22px;
}

/* .panel-title div:empty:after {
  content: ".";
  visibility: hidden;
} */


/*.number-shown-select {
  float: right !important;
  text-align: right;
  width: 55% !important;
}*/

/*.element-svg-checkbox {
  margin: 0px 0 0;
}*/
