table.elemental-composition .form-inline .form-group {
  padding-right: 10px;
  padding-top: 5px;

  td {
    vertical-align: top;
  }

  label {
    padding-right: 5px;
    min-width: 25px;
  }

  input {
    max-width: 60px;
  }
}
