.pagination {
  margin-top: 0 !important;
}

th.check {
  width: 30px !important;
}

th.drag {
  width: 40px !important;
}

.managing-actions-add-btn {
  margin-top: 11px;
}

.collection-label {
  display: inline-block;
}

.fa-user-secret {
  float:right;
  margin-top:2px;
}

.top-secret-icon {
  vertical-align: top;
  overflow: hidden;
}

/*.number-shown-select {
  float: right !important;
  text-align: right;
  width: 55% !important;
}*/

/*.element-svg-checkbox {
  margin: 0px 0 0;
}*/
