table.elemental-composition {
  .form-inline .form-group {
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 15px;

    td {
      vertical-align: top;
    }

    label {
      padding-right: 5px;
      min-width: 25px;
    }

    input {
      max-width: 62px;
    }
  }

  td.loading input {
    max-width: 62px;
    margin-top: 5px;
    float: right;
  }

  th {
    font-size: 12px;
  }
  th.loading {
    text-align: center;
    padding-left: 10px;
  }
}
