.pagination {
  margin-top: 0 !important;
}

th.check {
  width: 30px !important;
}

th.drag {
  width: 40px !important;
}

.managing-actions-add-btn {
  margin-top: 11px;
}

.collection-label {
  display: inline-block;
}

.fa-user-secret {
  float:right;
  marging-top:2px;
}

.top-secret-icon {
  vertical-align: top;
  overflow: hidden;
}
