.form-fields {
  margin: 15px 0;
}

.form-fields {
  .css-2b097c-container {
    height: 34px;
  }
  .input-group .css-2b097c-container {
    float: left;
    width: 100%;
  }
  .input-group .css-g1d714-ValueContainer {
    width: 86px;
  }

  .css-yk16xz-control, .css-1pahdxg-control {
    min-height: 34px;
    height: 34px;
  }

  .css-1uccc91-singleValue, .css-1wa3eu0-placeholder {
    top: 45%;
  }

  .css-tlfecz-indicatorContainer, .css-1gtu0rj-indicatorContainer {
    padding-top: 6px;
  }

  .css-26l3qy-menu {
    margin-top: 0;
    z-index: 10000;
  }

  .react-datepicker__close-icon::after {
    background-color: #fff;
    color: #ccc;
    font-size: 23px;
    width: 20px;
    height: 20px;
    margin: -13px auto 0;
    padding: 0;
  }
}

.form-fields .input-group-addon.with-select {
    padding: 0;
    margin: 0;

  .css-2b097c-container, .css-yk16xz-control, .css-1pahdxg-control {
    background-color: #eee;
    padding: 0;
    margin: 0;
    border: none;
    min-height: 32px;
    height: 32px;
  }
  .css-1pahdxg-control:hover {
    border: none;
    border-radius: 0;
    border-color: transparent;
    box-shadow: none;
  }
  .css-yk16xz-control, .css-1pahdxg-control {
    flex-wrap: nowrap;
  }

  .css-yt9ioa-option, .css-1n7v3ny-option, .css-4ljt47-MenuList {
    width: 160px;
    white-space: normal;
    text-align: left;
  }

  .css-1uccc91-singleValue {
    top: 50%;
  }
}

.form-fields-headline {
  color: #333333;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

.form-fields-headline:hover {
  cursor: pointer;
}

.form-fields-headline:after, .form-fields-headline.toggled:after {
  font-family: FontAwesome;
  position: absolute;
  top: 5px;
  right: 7px;
}

.form-fields-headline:after {
  content: "\f078";
}

.form-fields-headline.toggled:after {
  content: "\f054";
}


.grouped-fields-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0;
}

.grouped-fields-row.collapse.in {
  display: flex;
}

.grouped-fields-row.cols-1 .form-group {
  width: 100%;
  &.column-size-column {
    width: 24%;
  }
}

.grouped-fields-row.cols-2 .form-group {
  width: 49%;
}

.grouped-fields-row.cols-3 .form-group {
  width: 32.25%;
}

.grouped-fields-row .gu_date_picker input {
  height: 34px;
}

.grouped-fields-row.cols-4 .form-group {
  width: 24%;
}

.grouped-fields-row.cols-5 .form-group {
  width: 18.5%;
}

.grouped-fields-row.cols-6 .form-group {
  width: 15%;
}

.grouped-fields-row.cols-7 .form-group {
  width: 13%;
}

.grouped-fields-row .form-control.no-border {
  border: none;
  border-radius: 0;
  border-color: transparent;
  box-shadow: none;
  padding-left: 2px;
}

.form-group.no-margin-bottom {
  margin-bottom: 0;
}

button.add-row {
  margin-right: 7px;
  margin-bottom: 7px;
}

i.icon-margin-right {
  margin-right: 7px;
}

button.delete-in-row {
  margin-bottom: 15px;
  height: 34px;
}

button.delete-in-list {
  float: right;
  margin-top: -13px;
}

button.react-datepicker__navigation {
  text-indent: unset;
}

.react-datepicker__navigation--next:after, .react-datepicker__navigation--previous:after {
  font-family: FontAwesome;
  color: #ccc;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 7px;
}

.react-datepicker__navigation--next:after {
  content: "\f054";
}

.react-datepicker__navigation--previous:after {
  content: "\f053";
}

.comment-button {
  margin-top: 10px;
  float: right;
}

.device-description-analyses {
  padding-top: 0;
  margin-bottom: 25px;
  margin-top: 10px;
}

form-group.small-comment-form {
  margin-bottom: 10px;
  margin-top: 10px;
}

ul.list-group.ontology-list {
  margin-bottom: 0;
}

ul.list-group.ontology-list h4 {
  font-size: 16px;
}

ul.list-group.ontology-list li {
  background-color: #eee;
  font-size: 13px;
  border: 1px solid #bbb;
}

ul.list-group.ontology-list li:nth-child(even) {
  background-color: #fff;
}

ul.list-group.ontology-list li.without-segments {
  color: #999;
}

li.list-group-with-button p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.list-group-with-button p button {
  margin-left: 10px;
}

li.list-group-item.deleted-ontology {
  text-decoration: line-through;
}

li.list-group-item.list-group-sortable:hover {
  cursor: move;
}

li.list-group-item.list-group-sortable p, li.list-group-item.list-group-sortable h4 {
  margin-left: 27px;
}

li.list-group-item.list-group-sortable:before {
  font-family: FontAwesome;
  content: "\f047";
  color: #337ab7;
  font-size: 20px;
  float: left;
  margin-top: -2px;
}

.ontology-segments.panel {
  width: 100%;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

.ontology-segments.panel.first {
  margin-top: 17px;
}

.ontology-segments.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
  min-height: 34px;
  position: relative;
}

.ontology-segments .panel-title a {
  display: block;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.ontology-segments.panel-default > .panel-heading .panel-title a:after,
.ontology-segments.panel-default > .panel-heading .panel-title a.collapsed:after {
  font-family: FontAwesome;
  position: absolute;
  top: 5px;
  right: 7px;
}

.ontology-segments.deleted.panel-default > .panel-heading {
  text-decoration: line-through;
}

.ontology-segments.panel-default > .panel-heading .panel-title a:after {
  content: "\f078";
}

.ontology-segments.panel-default > .panel-heading .panel-title a.collapsed:after {
  content: "\f054";
}

.ontology-segments.deleted.panel-default > .panel-heading .panel-title a:after {
  content: "\f054";
}

.ontology-segments.panel-default > div.collapse-deleted.panel-collapse {
  display: none;
}

.ontology-segments .panel_generic_properties {
  border-color: transparent !important;
}

.ontology-segments .panel-body {
  padding: 5px 5px 0 5px;
}

.ontology-segments div.panel_generic_properties > .panel-heading {
  background-color: #fff !important;
  color: #333;
  border-color: #ddd;
  min-height: 34px;
  padding: 5px 0 !important;
}

.ontology-segments div.panel_generic_properties > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}

.element-dropzone {
  width: 100%;
  padding: 20px;
  border: 2px dashed #bbb;
  text-align: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-dropzone:hover {
  border-color: #337ab7;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}

.element-dropzone + button.delete-in-row {
  margin-bottom: 33px;
}
