.metadata-tabs {
    .tab-content {
        h4 {
            margin-top: 20px;
        }
    }
}

.metadata-affiliation {
    margin-bottom: 10px;
}
.metadata-add-affiliation {
    margin-left: 10px;
}
