.molecule svg {
  width: 90px;
  height: 90px;
  margin-left: 10px;
}

.molecule rect {
  fill: none;
  fill-opacity: 0.0;
}

.well-molecule svg {
  position: relative;
  top: -2px;
  width: 40px;
  height: 40px;
}

.well-molecule rect {
  opacity: 0;
}

.molecule-mid svg {
  width: 180px;
  height:180px;
  margin-left: 10px;
}

.molecule-mid rect {
  opacity: 0;
}

.reaction-selected line, .reaction-selected text, .reaction-selected polygon,
.molecule-selected line, .molecule-selected text {
  stroke: white;
  fill: white;
}

.reaction svg {
  max-height: 90px;
  height: 100%;
  width: 90%;
  margin-left: 10px;
}

.reaction-details svg {
  width: 100%
}
