
@mixin viewer-modal {
  height: 95%;
  top: 52% !important;
  margin: unset !important;
}


.file-viewer-modal {
  @include viewer-modal;
  width: 98vw !important;
  .modal-content {
    height: 95%;
  }
}

.structure-viewer-modal {
  @include viewer-modal;
  width: 60vw !important;
  .modal-content {
    height: calc(100% - 60px);
  }
}

.structure-editor-container {
  position: absolute;
  top: 2px;
  right: 57px;
}

.structure-editor-container-without-convert-button{
  right: 28px
}