.navig-brand {
  list-style-type: none;

  a {
    color: #999999;

    &:hover {
      color: white;
      text-decoration: none;
    }

    &:focus {
      color: white;
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: 1366px) and (min-height: 500px) {
  .card-navigation {
    /* position: fixed;
    width: 100%; */
    top: 0;
    z-index: 5;
  }

  .card-content {
    /* margin-top: 70px; */
  }
}

@media only screen and (min-width: 1144px) and (max-width: 1365px) and (min-height: 500px) {
  .card-navigation {
    /* position: fixed;
    width: 100%; */
    top: 0;
    z-index: 5;
  }

  .card-content {
    /* margin-top: 120px; */
  }
}

.export-container {
  overflow: auto;
  margin-bottom: 10px;
}

@mixin check-box-list-common($i) {
  list-style-type: none;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -moz-column-count: $i;
  -webkit-column-count: $i;
  column-count: $i;

}
.check-box-list {
  @include check-box-list-common(4);
}

.check-box-list-1 {
  @include check-box-list-common(1);
}

.check-box-list-2 {
  @include check-box-list-common(2);
}

.check-box-list-3 {
  @include check-box-list-common(3);
}

.select-assign-collection {
  .separator {
    border-top: 1px solid #ccc;
  }
}
