.navig-brand {
  list-style-type: none;

  a {
    color: #999999;

    &:hover {
      color: white;
      text-decoration: none;
    }

    &:focus {
      color: white;
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: 1366px) and (min-height: 500px) {
  .card-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  .card-content {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 1144px) and (max-width: 1365px) and (min-height: 500px) {
  .card-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  .card-content {
    margin-top: 120px;
  }
}
