.navig-brand {
  list-style-type: none;

  a {
    color: #999999;

    &:hover {
      color: white;
      text-decoration: none;
    }

    &:focus {
      color: white;
      text-decoration: none;
    }
  }
}

@mixin check-box-list-common($i) {
  list-style-type: none;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -moz-column-count: $i;
  -webkit-column-count: $i;
  column-count: $i;
}
.check-box-list {
  @include check-box-list-common(4);
}

.check-box-list-1 {
  @include check-box-list-common(1);
}

.check-box-list-2 {
  @include check-box-list-common(2);
}

.check-box-list-3 {
  @include check-box-list-common(3);
}

.select-assign-collection {
  .separator {
    border-top: 1px solid #ccc;
  }
}
