.wellplate-overlay {
  width: 218px;
  margin-top: 2px;
  margin-right: -12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wellplate-overlay:hover {
  overflow: visible;
  white-space: normal;
  height: auto;
}

.well-overlay-select {
  margin-top: 20px;

  .Select-menu-outer {
    z-index: 10;
  }
}