.polymer-section {
  tr td {
    vertical-align: top;
  }

  td.cross_linkage {
    padding-left: 5px;
    input {
      height: 38px;
    }
  }

  button#external-save-btn {
    margin-top: 25px;
    margin-left: -10px;
  }
}

td.loading-input .form-group {
  margin-top: 3px;
}

span.ea-section {
  border-top: none;
}
