.card-qc {
  margin: 10px 0 10px 10px;

  .ql-editor {
    padding: 0;
  }

  .ql-tooltip-editor {
    display: none;
  }
  .ql-toolbar {
    display: none;
  }
}

.label-qc {
  margin: 0 10px 0 10px;
}

.qv-qc {
  margin: 0 10px 0 10px;
}
