@media screen and (max-width: 1366px) {
  table.reaction-scheme .form-group, table.reaction-scheme button.btn-danger {
    .form-control {
      padding: 3px 12px;
      height: 26px;
      font-size: 10px;
    }
  }
}

table.reaction-scheme-solvent {
  td {
    padding: 2px 0;
  }
}

.svg-file-container > svg {
  min-height: 250px;
}

.small-padding > [class*='col-']:first-child {
  padding-right: 5px;
}

.small-padding > [class*='col-']:last-child {
  padding-left: 5px;
}

.small-padding > [class*='col-']:not(:first-child):not(:last-child) {
  padding-right: 5px;
  padding-left: 5px;
}

.bs-form--compact {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.inline-inside {
  div {
    display: inline-block;
  }

  p {
    margin: 0;
  }
}

.reaction-scheme-props {
  width: 100%;

  table.table {
    margin-bottom: 0px;

    tr > div {
      padding: 0 2px;
    }

    div.Select-menu-outer {
      z-index: 5;
    }
  }
}

.gp-drop-zone {
  background-color: #eee;
  border-radius: 5px;
  height: 36px;
  text-align: center;
  width: 100%;

  .gp-icon {
    font-size: 20px;
    line-height: 36px;
    vertical-align: middle;
  }

  .gp-content {
    font-size: 14px;
    line-height: 36px;
    vertical-align: middle;
  }
}

.solvents-select {
  .Select-menu-outer {
    z-index: 3;
    width: 250%;
  }
}

.reagents-select {
  .Select-control {
    height: 28px;
  }
  .Select-placeholder {
    line-height: 24px;
  }
  .Select-value {
    line-height: 24px;
  }

  .Select-value-label {
    line-height: 24px;
  }

  .Select-input > input {
    padding-top: 2px;
  }

  .Select-input {
    height: 26px;
  }

  .Select-menu-outer {
    z-index: 3;
  }
}

.green-chemistry {
  border: 1px solid #ddd;
  border-top: none;

  > div {
    padding: 10px;
  }

  .purification-head {
    display: flex;
    align-items: center;

    > div {
      flex-grow: 1;
    }
  }

  .green-material-name {
    width: 100%;
    display: flex;
    align-items: center;

    div:nth-child(2) {
      flex-grow: 1;
      button {
        word-break: break-all;
        white-space: normal;
        text-align: left;
      }
    }
  }

  .solvents-select {
    margin: 5px;
  }

  .waste-chkbx {
    .checkbox {
      text-align: center;
      margin-top: 3px;
    }
  }

  .green-metrics {
    padding: 10px !important;

    .ag-header-cell-label .ag-header-cell-text {
      color: #018786;
      text-overflow: clip !important;
      overflow: visible !important;
      white-space: normal !important;
    }
  }

  .e-factor-refs {
    .ag-header-cell-label .ag-header-cell-text {
      text-overflow: clip !important;
      overflow: visible !important;
      white-space: normal !important;
    }
  }

  .metrics-refs {
    display: flex;
  }

  .metrics-refs > div {
    margin-right: 5px;
  }
}

.menu-outer-top .Select-menu-outer {
  top: auto;
  bottom: 35px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
