@media screen and (max-width: 1366px) {
  table.reaction-scheme .form-group, table.reaction-scheme button.btn-danger {
    .form-control {
      padding: 3px 12px;
      height: 26px;
      font-size: 10px;
    }
  }
}

table.reaction-scheme-solvent {
  td {
    padding: 2px 0;
  }
}

.svg-file-container > svg {
  min-height: 250px;
}

.panel-reaction > .panel-body {
  padding: 5px;
  overflow-y: auto;
  max-height: 85vh;
}

.small-padding > [class*='col-']:first-child {
  padding-right: 5px;
}

.small-padding > [class*='col-']:last-child {
  padding-left: 5px;
}

.small-padding > [class*='col-']:not(:first-child):not(:last-child) {
  padding-right: 5px;
  padding-left: 5px;
}
