@media screen and (max-width: 1366px) {
  table.reaction-scheme .form-group, table.reaction-scheme button.btn-danger {
    .form-control {
      padding: 3px 12px;
      height: 26px;
      font-size: 10px;
    }
  }
}

table.reaction-scheme-solvent {
  td {
    padding: 2px 0;
  }
}

.panel-reaction > .panel-body {
    padding: 5px;
overflow-y: auto;
max-height: 85vh;
}
