@media screen and (max-width: 1366px) {
  table.reaction-scheme .form-group, table.reaction-scheme button.btn-danger {
    .form-control {
      padding: 3px 12px;
      height: 26px;
      font-size: 10px;
    }
  }
}

table.reaction-scheme-solvent {
  td {
    padding: 2px 0;
  }
}

.svg-file-container > svg {
  min-height: 250px;
}

.small-padding > [class*='col-']:first-child {
  padding-right: 5px;
}

.small-padding > [class*='col-']:last-child {
  padding-left: 5px;
}

.small-padding > [class*='col-']:not(:first-child):not(:last-child) {
  padding-right: 5px;
  padding-left: 5px;
}

.bs-form--compact {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.bs-btnTxt--small {
  font-size: 11px !important;
}

.inline-inside {
  div {
    display: inline-block;
  }

  p {
    margin: 0;
  }
}

.reaction-role {
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-left: 20px;
  padding: 5px;

  .checkbox-inline + .checkbox-inline {
    margin-left: 20px;
  }
}
