@media screen and (max-width: 1366px) {
  table.reaction-scheme .form-group, table.reaction-scheme button.btn-danger {
    .form-control {
      padding: 3px 12px;
      height: 26px;
      font-size: 10px;
    }
  }
}

table.reaction-scheme-solvent {
  td {
    padding: 2px 0;
  }
}

.svg-file-container > svg {
  min-height: 250px;
}

.small-padding > [class*='col-']:first-child {
  padding-right: 5px;
}

.small-padding > [class*='col-']:last-child {
  padding-left: 5px;
}

.small-padding > [class*='col-']:not(:first-child):not(:last-child) {
  padding-right: 5px;
  padding-left: 5px;
}

.bs-form--compact {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.inline-inside {
  div {
    display: inline-block;
  }

  p {
    margin: 0;
  }
}

.reaction-scheme-props {
  width: 100%;

  table.table {
    margin-bottom: 0px;

    tr > div {
      padding: 0 2px;
    }

    div.Select-menu-outer {
      z-index: 5;
    }
  }
}

.gp-drop-zone {
  background-color: #eee;
  border-radius: 5px;
  height: 36px;
  text-align: center;
  width: 100%;

  .gp-icon {
    font-size: 20px;
    line-height: 36px;
    vertical-align: middle;
  }

  .gp-content {
    font-size: 14px;
    line-height: 36px;
    vertical-align: middle;
  }
}
