.g-marginLeft--10 {
  margin-left: 10px
}

.g-marginLeft--20 {
  margin-left: 20px
}

.noBorder {
  background-color: white;
  border: 0;
  padding-top: 0;
  white-space: pre-wrap;
  word-break: keep-all;
}

.badge-danger {
  background: #d9534f;
  border-radius: 15px;
  color: white;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 35px;
}

.text-comment {
  color: gray;
  font-style: italic;
}
