.g-marginLeft--10 {
  margin-left: 10px
}

.g-marginLeft--20 {
  margin-left: 20px
}

.noBorder {
  background-color: white;
  border: 0;
  padding-top: 0;
  white-space: pre-wrap;
  word-break: keep-all;
}
