.research-plan-details {

    .field {
        label {
            margin-top: 5px;
        }

        .drag-source {
            float: right;
            margin-top: 5px;
            margin-right: 5px;
        }
    }

    .form-group {
        margin-bottom: 0;
    }

    .drop-target {
        height: 20px;

        .indicator {
            height: 10px;
        }

        &.can-drop {
            .indicator {
                border-bottom: 4px dashed lightgray;
            }
        }

        &.is-over {
            .indicator {
                border-bottom: 4px solid lightgray;
            }
        }
    }

    .add-field {
        float: left;
        margin-bottom: 20px;

        button {
            height: 30px;
            width: 60px;
            margin-right: 10px;
        }
    }

    .image-container {
        text-align: center;
        margin-bottom: 20px;

        img {
            max-width: 100%;
        }
    }

    .dropzone {
        min-height: 50px;
        width: 100%;
        border: 3px dashed lightgray;

        .image-container {
            margin: 15px;
        }

        p {
            text-align: center;
            padding-top: 12px;
            color: grey;
        }
    }

    .ql-hidden {
        display: none;
    }

    .research-plan-table-toolbar {
        margin-bottom: 10px;
    }
}

.svg-container-static {
    min-height: 200px;
    width: 100%;
    height: 100%;
}
