.research-plan-details-body {

    margin-bottom: 20px;

    .research-plan-details-body-seperator,
    .research-plan-details-body-footer {
        height: 40px;
        position: relative;
    }

    .research-plan-details-body-seperator {
        button {
            float: right;
            margin-top: 10px;
        }

        .drag-source {
            float: right;
            margin-top: 14px;
            margin-right: 5px;
        }

        .drop-target {
            left: 0;
            right: 50px;
        }
    }

    .research-plan-details-body-footer {
        .drop-target {
            left: 280px;
            right: 0;
        }
    }

    .form-group {
        margin-bottom: 0;
    }

    .drop-target {
        position: absolute;
        height: 40px;
        padding-top: 10px;

        .indicator {
            height: 13px;
        }

        &.can-drop {
            .indicator {
                border-bottom: 4px dashed lightgray;
            }
        }

        &.is-over {
            .indicator {
                border-bottom: 4px solid lightgray;
            }
        }
    }

    .add-field {
        float: left;
        margin-top: 10px;

        button {
            height: 30px;
            width: 60px;
            margin-right: 10px;
        }
    }
}
