.svg-container, .svg-container-empty {
  text-align: center;

  border: thick solid transparent;

  min-height: 200px;
  width: 100%;
  height: 100%;

  span.glyphicon {
    visibility: hidden;
    border: thick solid transparent;
  }
}

.svg-container:hover, .svg-container-empty {
  border-color: powderblue;

  span.glyphicon {
    border-color: powderblue;
    margin-top: -1px;
    visibility: visible;
    background-color: powderblue;
  }
}

.sample-form {
  button.external-save-btn {
    margin-top: 23px;
    margin-left: -10px;
    float: right;
  }

  @media screen and (max-height: 768px) {
    button.external-save-btn {
      margin-left: -32px;
    }

    label {
      font-size: 13px;
    }
  }


  .top-secret-checkbox {
    margin-top: 20px;
  }
}
