@mixin excerpt($font-size: $paragraph-font-size, $line-height: 1.4, $lines-to-show: 3, $excerpt-bg: transparent) {
  background: $excerpt-bg;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @-moz-document url-prefix() {
    overflow: hidden;
    position: relative;
    &:before {
      background: $excerpt-bg;
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem;
    }
    &:after {
      content: '';
      background: $excerpt-bg;
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1;
    }
  }
}

.svg-container, .svg-container-empty {
  text-align: center;

  border: thick solid transparent;

  min-height: 200px;
  width: 100%;
  height: 100%;

  span.glyphicon {
    visibility: hidden;
    border: thick solid transparent;
  }
}

.svg-container:hover, .svg-container-empty {
  border-color: powderblue;

  span.glyphicon {
    border-color: powderblue;
    margin-top: -1px;
    visibility: visible;
    background-color: powderblue;
  }
}

.sample-form {
  margin-bottom: 0px !important;

  // .table > tbody > tr > td {
  //   border-top: none !important;
  //   padding: 0px !important;
  // }

  .name-form {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
  }

  td {
    padding: 2px 3px 2px 3px !important;
    border-top: none !important;
  }

  button.external-save-btn {
    margin-top: 23px;
    margin-left: -10px;
    float: right;
  }

  @media screen and (max-height: 768px) {
    button.external-save-btn {
      margin-left: -32px;
    }

    label {
      font-size: 13px;
    }
  }

  .top-secret-checkbox {
    margin-top: 22px;
    float: right;
  }

  .Select-menu-outer {
    z-index: 5;
  }
}

.label--bold {
  font-weight: bold;
  margin-right: 10px;
}

.noAnalyses-warning {
  margin: 20px;
}

.analysis-header-delete {
  display: inline-block;
  line-height: 2.5;
  padding-left: 135px;
  width: calc(100% - 30px);

  .undo-middle {
    height: 35px;
    padding-top: 6.5px;
  }
}

.analysis-header.order {
  width: calc(100% - 30px) !important;
}

.analysis-header {
  display: inline-block;
  height: 125px;
  width: 100%;

  .preview {
    display: inline-block;
    // height: 125px;
    vertical-align: top;
    width: 125px;

    img {
      float: left;
      height: 120px;
      margin: 0 20px 0 0;
      width: 120px;
    }
  }

  .abstract {
    display: inline-block;
    width: calc(100% - 125px);

    .upper-btn {
      height: 22px;
      float: right;

      .add-to-report {
        font-size: 12px;
        height: 22px;
        padding: 0 12px;
        vertical-align: middle;
      }

      .checkbox {
        margin: 0;

        span {
          line-height: 22px;
        }
      }
    }

    .lower-text {
      // height: 103px;

      .main-title {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 0 10px;
        overflow: hidden;
        text-decoration: underline;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .sub-title {
        font-size: 14px;
        margin-left: 10px;
        margin-top: 3px;
      }

      .desc {
        // font-size: 12px;
        // display: inline-flex;
        margin-left: 10px;
        margin-right: 0px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        // width: 80%;
      }

      .ql-hidden {
        display: none;
      }

      .ql-editor {
        font-size: 14px;
        padding: 0;
        @include excerpt($font-size: 1.3rem, $line-height: 1.3, $lines-to-show: 3, $excerpt-bg: #f5f5f5);
        // overflow-y: inherit;
        // display: table;
        // table-layout: fixed;
        // width: 100%;
        p {
          margin-top: 3px;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // white-space: nowrap;
        }
      }

    }
  }
}

.order-panel {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;

  .dnd-btn {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    font-size: 25px;
    height: 120px;
    margin-right: 5px;
    vertical-align: top;
    width: 25px;

    span {
      cursor: move;
      line-height: 4.5;
    }
  }
}

.order-panel-delete {
  @extend .order-panel;

  .dnd-btn {
    height: 40px;

    span {
      line-height: 1;
    }
  }
}

// $select-input-height: 34px;
// @import "../../../node_modules/react-select/scss/default";
