.search-result-tab-navbar.navbar-default {
  background-color: #fff;
  margin-bottom: 0;
}

.search-result-tab-navbar.navbar-default .container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.search-result-tab-navbar.navbar-default .navbar-nav {
  border-bottom: none;
}

.search-result-tab-navbar.navbar-default .navbar-nav li a {
  border: none;
  border-right: 1px solid #ddd;
  padding: 10px 30px;
  line-height: 27px;
  color: #337ab7;
}

.search-result-tab-navbar.navbar-default .navbar-nav li.active {
  background-color: rgb(245, 245, 245);
}

.search-result-tab-navbar.navbar-default .navbar-nav li.active a {
  border: none;
  border-right: 1px solid #ddd;
  color: #555;
}

.search-result-tab-navbar.navbar-default .navbar-nav a i {
  font-size: 1.8em;
}

.search-result-tab-navbar.navbar-default .navbar-nav a span {
  font-size: 1.2em;
  padding-top: 2px;
}

.search-result-tab-content.tab-content {
  border: 1px solid #ddd;
}

.search-result-tab-content-list {
  background-color: rgb(245, 245, 245);
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.search-result-tab-content-list:last-child {
  border-bottom: none;
}

.search-result-tab-content-list p {
  font-weight: bold;
  margin-bottom: 2px;
}

.search-result-pagination {
  margin-top: 20px;
  margin-bottom: -6px;
}

.search-result-pagination .pagination {
  margin-bottom: 0;
}

.result-button-toolbar {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 15px;
}
