.search-result-tab-navbar.navbar-default {
  background-color: #fff;
  margin-bottom: 0;
  border: none;
}

.search-result-tab-navbar.navbar-default .container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.search-result-tab-navbar.navbar-default .navbar-nav {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.search-result-tab-navbar.navbar-default .navbar-nav li a {
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0;
  padding: 10px 30px;
  line-height: 27px;
  color: #337ab7;
}

.search-result-tab-navbar.navbar-default .navbar-nav li:last-child a {
  border-right: none;
}

.search-result-tab-navbar.navbar-default .navbar-nav li.active a {
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  color: #337ab7;
  background-color: #5bc0de75;
}

.search-result-tab-navbar.navbar-default .navbar-nav a i {
  font-size: 2.2em;
}

.search-result-tab-navbar.navbar-default .navbar-nav a i.icon-research_plan {
  font-size: 1.6em;
}

.search-result-tab-navbar.navbar-default .navbar-nav a i.icon_generic_nav {
  font-size: 1.8em;
  padding-top: 2px;
}

.search-result-tab-navbar.navbar-default .navbar-nav a span {
  font-size: 1.4em;
  padding-top: 2px;
}

.search-result-tab-navbar.navbar-default .elements-list-tab.no-result a {
  color: rgba(0, 0, 0, 0.2);
}

.search-result-tab-content.tab-content {
  border: none;
}

.search-result-tab-navbar.navbar-default .elements-list-tab.no-result a i {
  font-size: 1.8em;
}

.search-result-tab-navbar.navbar-default .elements-list-tab.no-result a i.icon-research_plan {
  font-size: 1.4em;
  padding-top: 2px;
}

.search-result-tab-navbar.navbar-default .elements-list-tab.no-result a i.icon_generic_nav {
  font-size: 1.5em;
  padding-top: 4px;
}

.search-result-tab-navbar.navbar-default .elements-list-tab.no-result a span {
  font-size: 1.2em;
}

.search-result-tab-content-list {
  background-color: rgb(245, 245, 245);
  padding: 0 15px 15px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.search-result-tab-content-list:first-child {
  border-top: none;
}

.search-result-tab-content-list p {
  font-weight: bold;
  margin-bottom: 5px;
}

.search-result-tab-content-list p:first-child {
  margin-top: 15px;
}

.search-result-tab-content-list-white {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.search-result-tab-content-list-white:last-child {
  border-bottom: none;
}

.search-result-molecule {
  display: flex;
}

.search-result-molecule .preview-table {
  max-width: 100px;
  min-height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.search-result-molecule.reaction .preview-table {
  max-width: 300px;
}

.search-result-tab-content-list-name {
  display: block;
  margin: -16px -15px -15px -15px;
  padding: 9px 15px;
  background-color: #fff;
}

.search-result-pagination {
  margin-top: 20px;
  margin-bottom: -6px;
}

.search-result-pagination .pagination {
  margin-bottom: 0;
}

.result-button-toolbar {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 15px;
}

.search-result-tab-content-container {
  overflow-x: auto;
  min-height: 80px;
  max-height: 34.3vh;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.4);
  @media screen and (min-width: 1600px) {
    max-height: 55vh;
  }
}

.tab-spinner {
  color: #ddd;
  position: absolute;
  top: 20%;
  left: 2%;
}

.search-value-list {
  position: relative;
  max-height: 12vh;
  min-height: 92px;
  overflow-y: auto;
}
