.search-elements-select {
  position: absolute;
}

.search-autocomplete {
  .scroll {
    overflow: scroll;
  }
}

.chemotion-search {
  div > div > div:nth-child(2) {
    position: relative;
    z-index: 2;
  }
}

.list-group-item-wrap {
  .list-group-item-heading {
    overflow-wrap: break-word;
  }
}
