.search-result-tab-navbar.navbar-default {
  background-color: #fff;
  margin-bottom: 0;
}

.search-result-tab-navbar.navbar-default .container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.search-result-tab-navbar.navbar-default .navbar-nav {
  border-bottom: none;
}

.search-result-tab-navbar.navbar-default .navbar-nav li a {
  border: none;
  border-right: 1px solid #ddd;
  padding: 10px 30px;
  line-height: 27px;
  color: #337ab7;
}

.search-result-tab-navbar.navbar-default .navbar-nav li.active {
  background-color: rgb(245, 245, 245);
}

.search-result-tab-navbar.navbar-default .navbar-nav li.active a {
  border: none;
  border-right: 1px solid #ddd;
  color: #337ab7;
}

.search-result-tab-navbar.navbar-default .navbar-nav a i {
  font-size: 2.2em;
}

.search-result-tab-navbar.navbar-default .navbar-nav a i.icon_generic_nav {
  font-size: 1.8em;
  padding-top: 2px;
}

.search-result-tab-navbar.navbar-default .navbar-nav a span {
  font-size: 1.4em;
  padding-top: 2px;
}

.search-result-tab-navbar.navbar-default .elements-list-tab.no-result a {
  color: rgba(0, 0, 0, 0.2);
}

.search-result-tab-content.tab-content {
  border: 1px solid #ddd;
}

.search-result-tab-navbar.navbar-default .elements-list-tab.no-result a i {
  font-size: 1.8em;
}

.search-result-tab-navbar.navbar-default .elements-list-tab.no-result a i.icon_generic_nav {
  font-size: 1.5em;
  padding-top: 4px;
}

.search-result-tab-navbar.navbar-default .elements-list-tab.no-result a span {
  font-size: 1.2em;
}

.search-result-tab-content-list {
  background-color: rgb(245, 245, 245);
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.search-result-tab-content-list p {
  font-weight: bold;
  margin-bottom: 2px;
}

.search-result-tab-content-list div {
  display: block;
  margin-bottom: 30px;
}

.search-result-tab-content-list-name {
  display: block;
  margin: -16px -15px -15px -15px;
  padding: 9px 15px;
  background-color: #fff;
}

.search-result-pagination {
  margin-top: 20px;
  margin-bottom: -6px;
}

.search-result-pagination .pagination {
  margin-bottom: 0;
}

.result-button-toolbar {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 15px;
}

.search-result-tab-content-container {
  overflow-x: auto;
  min-height: 80px;
  max-height: 36vh;
  position: relative;
}

.tab-spinner {
  color: #ddd;
  position: absolute;
  top: 20%;
  left: 2%;
}
