[dialogas=full-search].modal {
  width: fit-content;
  height: fit-content;
  top: 20%;
  left: calc(calc(100% - 90vw) / 2);
}

[dialogas=full-search] .modal-dialog {
  width: 90vw !important;
  position: relative !important;
  top: 0;
  left: 0;
  transform: none !important;
  margin: 5px 20px 22px 15px;
}

[dialogas=full-search] .modal-content {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

[dialogas=full-search] .modal-header {
  background: #ddd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px 15px 10px 0;
}

[dialogas=full-search] .modal-header .close {
  opacity: 0.4;
  font-size: 25px;
  line-height: 1.3;
}

[dialogas=full-search] .modal-header .form-group {
  margin-bottom: 0;
  font-size: 16px;
}

[dialogas=full-search] .modal-header .move {
  margin-right: 15px;
}

[dialogas=full-search] .modal-header .modal-title {
  padding: 5px 0;
}

[dialogas=full-search] .modal-header .window-minimize {
  color: rgba(0, 0, 0, 0.4);
  float: right;
  margin-top: -62px;
  margin-right: 15px;
}

[dialogas=full-search] .modal-body {
  padding: 0;
}

@media screen and (min-width: 768px) {
  [dialogas=full-search] .modal-header .window-minimize {
    margin-top: -22px;
  }
}

.collapsible-search-result.panel.panel-default {
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 0 !important;
}

.collapsible-search-result.inactive {
  display: none;
}

.collapsible-search-result.panel-default > .panel-heading {
  background: #fff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.collapsible-search-result .panel-title a:hover, .collapsible-search-result .panel-title a:link {
  text-decoration: none;
  display: block;
}

.no-selected-search {
  padding: 15px;
}

.search-spinner {
  color: #ddd;
  position: absolute;
  top: 0;
  left: 50%;
}

i.fa.icon-right {
  float: right;
}

.search-result-tab-navbar.navbar-default {
  background-color: #fff;
  margin-bottom: 0;
}

.search-result-tab-navbar.navbar-default .container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.search-result-tab-navbar.navbar-default .navbar-nav {
  border-bottom: none;
}

.search-result-tab-navbar.navbar-default .navbar-nav li a {
  border: none;
  border-right: 1px solid #ddd;
  padding: 10px 30px;
  line-height: 27px;
  color: #337ab7;
}

.search-result-tab-navbar.navbar-default .navbar-nav li.active {
  background-color: rgb(245, 245, 245);
}

.search-result-tab-navbar.navbar-default .navbar-nav li.active a {
  border: none;
  border-right: 1px solid #ddd;
  color: #555;
}

.search-result-tab-navbar.navbar-default .navbar-nav a i {
  font-size: 1.8em;
}

.search-result-tab-navbar.navbar-default .navbar-nav a span {
  font-size: 1.2em;
  padding-top: 2px;
}

.search-result-tab-content.tab-content {
  border: 1px solid #ddd;
}

.search-result-tab-content-list {
  background-color: rgb(245, 245, 245);
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.search-result-tab-content-list:last-child {
  border-bottom: none;
}

.search-result-tab-content-list p {
  font-weight: bold;
  margin-bottom: 2px;
}

.result-button-toolbar {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 15px;
}
