.d3-tip {
  z-index: 1998;
}

.spectra-editor {
  text-align: right;
}

#ChemSpectra,
#ChemSpectraEditor,
.spectra-editor-title {
  margin: 5px 5px 0 5px;

  .txt-spectra-editor-title {
    font-size: 22px;
    margin: 0 0 0 30px;
  }
}

#ChemSpectra,
#ChemSpectraEditor,
.spectra-editor-dialog {
  display: block;
  padding-left: 0px;
  top: 45% !important;
  width: 98vw !important;

  .card-box {
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;

    text-align: center;
  }

  .txt-sv-panel-title,
  .txt-sv-panel-head {
    font-size: 12px !important;
    font-family: 'Helvetica'!important;
  }

  .icon-sv-bar-refint {
    height: 16px !important;
    width: 16px !important;
  }

  .icon-sv-bar-addint,
  .icon-sv-bar-rmint,
  .icon-sv-bar-rmallint {
    height: 16px !important;
    width: 16px !important;
  }

  .txtfield-sv-bar-input fieldset legend,
  .input-sv-bar-layout fieldset legend,
  .input-sv-bar-shift fieldset legend,
  .input-sv-bar-order fieldset legend,
  .input-sv-bar-intensity fieldset legend,
  .input-sv-bar-decimal fieldset legend,
  .input-sv-bar-operation fieldset legend {
    border: hidden !important;
  }

  .ql-container.ql-snow {
    border: 0 !important;
  }
}

.txt-sv-tp {
  font-size: 12px !important;
  font-family: 'Helvetica'!important;
}

.txt-sv-input-label {
  font-size: 14px !important;
  font-family: 'Helvetica'!important;
}

.txt-sv-panel-txt {
  font-size: 14px !important;
  font-family: 'Helvetica'!important;
}

.svg-file-zoom-pan {
  width: 100%;
  height: 100%;
}

.grid-qc-mol-view {
  height: 250px;
  width: 250px;
}

.qc-detail-panel {
  margin-top: 10px;
}

.qc-detail-panel-title{
  font-size: 12px !important;
}
