.spectra-viewer {
  text-align: right;
  padding-bottom: 10px;
}

.spectra-viewer-dialog {
  display: block;
  padding-left: 0px;
  top: 45% !important;
  width: 75vw !important;
}

.d3-tip {
  z-index: 1998;
}

.txt-sv-input-label {
  font-size: 16px !important;
}

.txt-sv-tp {
  font-size: 11px !important;
  height: 30px;
}

.react-spectrum-viewer {
  .txt-input-label {
    font-size: 16px !important;
  }

  .txt-tp {
    font-size: 11px !important;
  }

  .txt-input {
    font-size: 14px !important;
  }

  .txt-percent {
    font-size: 14px !important;
  }

  .txt-btn-write {
    font-size: 14px !important;
  }

  .txt-btn-save {
    font-size: 14px !important;
  }

  .txt-panel-header {
    font-size: 14px !important;
  }

  .txt-panel-content {
    font-size: 12px !important;
  }

  .txt-panel-badge {
    span {
      font-size: 11px !important;
    }
  }

  .xLabel, .yLabel {
    font-size: 12px !important;
  }

  .txt-prd-table-title, .txt-prd-table-content, .txt-mol-label,
  .txt-shift-tab-label, .txt-prd-tab-label {

  }
}

.spectra-viewer-dialog {
  .card-box {
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;

    height: 60vh;
    text-align: center;
  }
}

.svg-file-zoom-pan {
  width: 100%;
  height: 100%;
}

.grid-qc-mol-view {
  height: 250px;
  width: 250px;
}

.qc-detail-panel-title{
  font-size: 12px !important;
}

