.modal-dialog {
  width: auto !important;
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

.structure-editor .modal-content {
  width: 1040px;
}
.structure-editor #ifKetcher {
  width: 1006px;
  height: 608px;
}

/*@media screen and (max-height: 768px) {
  .structure-editor #ifKetcher {
    height: 520px;
  }
}*/
