.structure-editor .modal-content {
  width: 900px;
}
.structure-editor #ifKetcher {
  width: 882px;
  height: 580px;
}

@media screen and (max-height: 768px) {
  .structure-editor #ifKetcher {
    height: 520px;
  }
}
