.modal-dialog {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-90%, -60%) !important;
}

.structure-editor .modal-content {
  width: 1040px;
}
.structure-editor #ifKetcher {
  width: 1010px;
  height: 588px;
}

/*@media screen and (max-height: 768px) {
  .structure-editor #ifKetcher {
    height: 520px;
  }
}*/
