table.layout-container {
  td {
    font-size: 25pt;
    color: #337ab7;
    border: 1px solid #ddd;
    div {
      width: auto;
      min-width: 80px;
      
      height: 80px;      
      
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .hidden-layout {
    background-color: #f7f7f7;
    color: #555555;
  }
}
