#commentBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comments-header-btn {
  margin-left: 10px;
  white-space: nowrap;
}

.comments-header-btn button {
  display: inline-block;
  margin-right: 1px;
}
