#commentBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.commentIcon {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid grey;
  background-color: white;
  color: black;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  border-radius: 0.25em;

  &:hover{
    background-color: #19B5FE;
  }
}
