.dnd-zone {
  @extend .border;
  @extend .border-dashed;
  @extend .border-3;
}

.dnd-zone-over {
  @extend .border-primary;
}

.dnd-dragging {
  @extend .opacity-25;
}

.dnd-arrow-disable {
  color: lightgray;
  cursor: not-allowed;
  font-size: 24px !important;
}

.dnd-arrow-enable {
  cursor: move;
  font-size: 24px !important;
}