.pseudo-table {
  @extend .d-flex;
  @extend .flex-column;
  @extend .w-100;
  gap: 1px;
  margin-bottom: 2px;
  &__row {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
    @extend .w-100;
    @extend .gap-2;
    @extend .px-2;
    &-header {
      @extend .fw-bold;
    }
  }
  &__cell {
    @extend .py-1;
    @extend .d-flex;
    @extend .gap-1;
    &-title {
      @extend .flex-grow-1;
      // Prevent overflow issues
      min-width: 0;
      * {
        max-width: 100%;
      }
    }
  }
}
