.pseudo-table {
  @extend .d-flex;
  @extend .flex-column;
  @extend .w-100;
  &__row {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
    @extend .w-100;
    @extend .gap-2;
    @extend .px-2;
    margin-bottom: -1px; // To compensate the border of the next row
    &-header {
      @extend .fw-bold;
      @extend .border;
    }
  }
  &__cell {
    @extend .py-1;
    @extend .d-flex;
    @extend .gap-1;
    &.pseudo-table__cell-title {
      @extend .flex-grow-1;
      @extend .py-2;
      // Prevent overflow issues
      min-width: 0;
      * {
        max-width: 100%;
      }
    }
  }
}
