@for $i from 1 through $shades - 1 {
  .surface-lighten#{$i} {
    background-color: map-get($silicon-shades, lighten#{$i}) !important;
  }
  .text-lighten#{$i} {
    color: map-get($carbon-shades, lighten#{$i}) !important;
  }
  .border-lighten#{$i} {
    border-color: map-get($carbon-shades, lighten#{$i}) !important;
  }
}

.surface-base {
  background-color: $chemstrap-silicon !important;
}

.surface-hover-on-white {
  background-color: $chemstrap-silicon-hover1 !important;
}

.surface-hover-on-grey {
  background-color: $chemstrap-silicon-hover2 !important;
}

.surface-active-on-white {
  background-color: $chemstrap-silicon-active1 !important;
}

.surface-active-on-grey {
  background-color: $chemstrap-silicon-active2 !important;
}

.text-base {
  color: $chemstrap-carbon !important;
}

.border-base {
  border-color: $chemstrap-carbon !important;
}
