.w-0 {
  width: 0;
}

.h-0 {
  height: 0;
}

.vw-90 {
  width: 90vw;
}

.vh-50 {
  height: 50vh;
}

.vh-70 {
  height: 70vh;
}

.vh-80 {
  height: 80vh;
}

.vh-90 {
  height: 90vh;
}

.max-vh-60 {
  max-height: 60vh;
}
