.nav-tabs.surface-tabs {
  @extend .border-bottom-0;
  @extend .gap-1;
}
.nav-tabs.surface-tabs .nav-link,
.surface-tab {
  @extend .mb-0;
  @extend .text-body;
  @extend .state-border;
  --bs-border-opacity: 0.7;
  @extend .text-bg-surface2;
  padding: 0.25rem 0.75rem !important;
  &.active {
    @extend .border-active;
    @extend .text-bg-surface3;
    --bs-border-opacity: 1;
    i {
      @extend .text-active;
    }
  }
  &:has(.unsaved) {
    @extend .border-warning;
    --bs-border-opacity: 1;
  }
}
.surface-tab__header {
  @extend .text-bg-surface3;
  @extend .mb-2;
}
