.condensed-text-width {
  @include condensed-text-width;
}

.normal-text-width {
  @include normal-text-width;
}

.white-space {
  &-nowrap {
    white-space: nowrap;
  }

  &-pre {
    white-space: pre;
  }

  &-pre-wrap {
    white-space: pre-wrap;
  }

  &-pre-line {
    white-space: pre-line;
  }

  &-normal {
    white-space: normal;
  }

  &-initial {
    white-space: initial;
  }

  &-inherit {
    white-space: inherit;
  }
}

.link {
  color: $link-color;
  text-decoration: $link-decoration;
  cursor: pointer;
  &:not([href]):not([class]) {
    color: $link-color;
    text-decoration: $link-decoration;
  }
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}
