.white-space {
  &-nowrap {
    white-space: nowrap;
  }

  &-pre {
    white-space: pre;
  }

  &-pre-wrap {
    white-space: pre-wrap;
  }

  &-pre-line {
    white-space: pre-line;
  }

  &-normal {
    white-space: normal;
  }

  &-initial {
    white-space: initial;
  }

  &-inherit {
    white-space: inherit;
  }
}
