name: ruby

on:
  push:
    branches: [ github-actions ]

  workflow_dispatch:

jobs:
  docker:
    container: 
      image: complat/complat-ubuntu-runner:0.10.20
    runs-on: ubuntu-latest
    steps:
      - name: docker
       # uses: docker://complat/complat-ubuntu-runner:0.10.20
        run: |
            ls
