name: Pronto

on:
  pull_request_target:
  workflow_dispatch:

jobs:
  pronto:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      statuses: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: HeRoMo/pronto-action@v1.37.0
        with:
          runner: rubocop
          formatters: github_status github_pr_review
